@model DHSEntities.DrawResponse
@using DHS.Reconcilation.Models
@{
    ViewBag.Title = "Edit Draws";
}
@Html.HiddenFor(m => m.drawEntity.DrawId, htmlAttributes: new { @id = "DrawId" })
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Draw Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-footer mra_edit_footer">
                <a href="Javascript:void()" title="Save" onclick="return SubmitValue()" id="btnSubmit" class="mra_edit_save">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="mrp_modalcontent">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Draw&nbsp;No</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.DrawNumber, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Fiscal&nbsp;Year</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.DropDownList("FiscalYearId", new SelectList(Model.fiscalYearEntities, "FiscalYearId", "FiscalYear", Model.drawEntity.FiscalYearId), "", new { @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Draw&nbsp;Down&nbsp;Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.DrawDownDate, htmlAttributes: new { @id = "DrawDownDate", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Draw&nbsp;Down&nbsp;Amount</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.DrawDownAmount, htmlAttributes: new { @id = "DrawDownAmount", Value = String.Format("{0:$#,##0.00}", Model.drawEntity.DrawDownAmount), @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Date&nbsp;Posted</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.DatePosted, htmlAttributes: new { @id = "DatePosted", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Batch&nbsp;Number</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.BatchNumber, htmlAttributes: new { @id = "BatchNumber", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Cash&nbsp;Receipt</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.CashReceipt, htmlAttributes: new { @id = "CashReceipt", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Status</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.DropDownList("StatusId", new SelectList(Model.statusEntities, "StatusId", "StatusName", Model.drawEntity.StatusId), "", new { @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Assigned&nbsp;To</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.DropDownList("AssignedTo", new SelectList(Model.userEntities, "UserId", "UserName", Model.drawEntity.AssignedTo), "", new { @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                    <div class="form_modal">
                        <label>Org</label>
                    </div>
                </div>
                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                    <div class="form_modal">
                        @Html.TextBoxFor(m => m.drawEntity.OrgName, htmlAttributes: new { @id = "OrgName", @class = "form-control mrp_modalselect" })
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                    <div class="form_modal">
                        <label>Object</label>
                    </div>
                </div>
                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                    <div class="form_modal">
                        @Html.TextBoxFor(m => m.drawEntity.ObjectName, htmlAttributes: new { @id = "ObjectName", @class = "form-control mrp_modalselect" })
                    </div>
                </div>
            </div>
        </div>*@


                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Project</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.ProjectName, htmlAttributes: new { @id = "ProjectName", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                    <div class="form_modal">
                                        <label>Adjusted&nbsp;Amount</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.AdjustedAmount, htmlAttributes: new { @id = "AdjustedAmount", Value = String.Format("{0:$#,##0.00}", Model.drawEntity.AdjustedAmount), @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-1">
                                <div class="form_modal">
                                    <label>
                                        Notes:
                                    </label>
                                </div>
                            </div>
                            <div class="col-log-11">
                                <textarea id="DrawDescription" name="DrawDescription" style="margin: 0px; width: 100%; height: 120px;">@Model.drawEntity.DrawDescription</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var IsExists = false;
function SubmitValue() {


            if (document.getElementById("FiscalYearId").value == "") {
                alert("Please select fiscal year.")
                document.getElementById("FiscalYearId").focus();
                return false;
            }

            if (document.getElementById("DrawDownAmount").value == "$0.00" || document.getElementById("DrawDownAmount").value == "") {
                alert("Please enter draw amount.");
                document.getElementById("DrawDownAmount").focus();
                return false;
            }

            if (document.getElementById("DrawDownDate").value == "") {
                alert("Please enter draw date.");
                document.getElementById("DrawDownDate").focus();
                return false;
            }

            if (document.getElementById("BatchNumber").value == "") {
                alert("Please enter batch number.");
                document.getElementById("BatchNumber").focus();
                return false;
            }
            else {
                fire_ajax(document.getElementById("BatchNumber").value);
                if (IsExists)
                    return false;
            }

            if (document.getElementById("StatusId").value == "") {
                alert("Please select status.")
                document.getElementById("StatusId").focus();
                return false;
            }

            var drawEntity = {
                DrawId: document.getElementById("DrawId").value,
                DrawDownDate: document.getElementById("DrawDownDate").value,
                DatePosted: document.getElementById("DatePosted").value,
                BatchNumber: document.getElementById("BatchNumber").value,
                CashReceipt: document.getElementById("CashReceipt").value,
                DrawDownAmount: parseFloat((document.getElementById("DrawDownAmount").value).replace("$", "").replace(",", "")).toFixed(2),
                DrawDescription: document.getElementById("DrawDescription").value,
                StatusId: document.getElementById("StatusId").value,
                FiscalYearId: document.getElementById("FiscalYearId").value,
                ModifiedBy:@Common.GetSession("UserID"),
                AssignedTo: document.getElementById("AssignedTo").value,
                OrgName: '',
                ObjectName: '',
                ProjectName: document.getElementById("ProjectName").value,
                AdjustedAmount: document.getElementById("AdjustedAmount").value,
            };
            var drawRequest = {
                DrawEntity: drawEntity
            };

            $.ajax({
                url: "/Draw/SaveDraw",
                type: "POST",
                data: drawRequest,
                dataType: 'json',
                success: function (result) {
                    location.href = "/Draw/ManageDraws";
                },
                complete: function () {

                }
            });
            return true;
        }


        $("#BatchNumber").blur(function () {
            var x = $("#BatchNumber").val();
            fire_ajax(x);
        });

        function fire_ajax(s) {
            var drawEntity = {
                BatchNumber: s,
                DrawId: document.getElementById("DrawId").value
            };
            var drawRequest = {
                drawEntity: drawEntity
            };
            $.ajax({
                url: "/Draw/CheckDrawByBatchNumber",
                type: "POST",
                data: drawRequest,
                dataType: 'json',
                success: function (data) {
                    if (data.IsExists) {
                        IsExists = data.IsExists;
                        alert("Please enter different Batch Number as this already exists.");
                        return false;
                    }
                }

            })
        }

    </script>
