@model DHSEntities.DrawResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application :: Manage Draws";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}
@using (Html.BeginForm("ManageDraws", "Draw", FormMethod.Post, new { @id = "frmDraws" }))
{
    <title>@ViewBag.Title</title>
    <input type="hidden" id="hdnDrawId" name="hdnDrawId" />
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>View Draws</h2>
                        <form class="mrp_selectdetails form-inline">
                            <div class="row">
                                <div class="form-group col-lg-2 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Fiscal&nbsp;Year:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("FiscalYearId", new SelectList(Model.fiscalYearEntities, "FiscalYearId", "FiscalYear", Model.drawEntity.FiscalYearId), "", new { @id = "FiscalYearId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-xs-12 col-sm-5">
                                    <label for="SearchOn">Assigned&nbsp;To:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("AssignedTo", new SelectList(Model.userEntities, "UserId", "UserName", Model.drawEntity.AssignedTo), "", new { @id = "AssignedTo", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-xs-12 col-sm-7">
                                    <label for="SearchOn">Status:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("StatusId", new SelectList(Model.statusEntities, "StatusId", "StatusName", Model.drawEntity.StatusId), "", new { @id = "StatusId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-xs-12 col-sm-7">
                                    <label for="SearchOn">Project:</label>
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.ProjectName, htmlAttributes: new { @id = "ProjectName", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-xs-12 col-sm-7">
                                    <label for="SearchOn">Batch&nbsp;Number:</label>
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.drawEntity.BatchNumber, htmlAttributes: new { @id = "BatchNumber", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-1 col-xs-12 col-sm-7">
                                    @if (Model.rolePermissionEntity.ViewBit)
                                    {
                                        <img src="~/images/search.png" class="img-responsive" height="40" width="40" onclick="SelectedIndexChanged()" style="cursor:pointer;" alt="Search Draw Information" />
                                    }
                                    else
                                    {
                                        <img src="~/images/search.png" class="disableButton" height="40" width="40" alt="Search Draw Information" />
                                    }
                                </div>

                                <div class="form-group col-lg-1 col-xs-12 col-sm-7">
                                    @if (Model.rolePermissionEntity.CreateBit)
                                    {
                                        <img src="~/images/create.png" class="img-responsive" height="40" width="40" onclick="CreateDraw()" style="cursor:pointer;" alt="Create Draw Information" />
                                    }
                                    else
                                    {
                                        <img src="~/images/create.png" style="cursor:pointer;" onclick="JavaScript:alert('You do not have permission to create draw. Please contact administrator.')" class="disableButton" height="40" width="40" alt="Create Draw Information" />
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="margin-left:1px; margin-right:1px;">
                                                Action
                                            </th>
                                            <th nowrap>
                                                Fiscal Year
                                            </th>
                                            <th nowrap>
                                                Status
                                            </th>
                                            <th nowrap>
                                                Draw No
                                            </th>
                                            <th nowrap>
                                                Drawn Amount
                                            </th>
                                            <th nowrap>
                                                Adjusted Amount
                                            </th>
                                            <th nowrap>
                                                Drawn Date
                                            </th>
                                            <th nowrap>
                                                Date Posted
                                            </th>
                                            <th nowrap>
                                                Batch Number
                                            </th>
                                            <th nowrap>
                                                Cash Receipt
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                Allocated Amount
                                            </th>
                                            <th nowrap>
                                                Difference
                                            </th>
                                            <th nowrap>
                                                Assigned To
                                            </th>
                                            <th nowrap style="text-align:left">
                                                Notes
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (var item in Model.pagedDrawEntities)
                                            {
                                                decimal difference = 0;
                                                if(item.AllocatedAmount<0)
                                                {
                                                    difference = item.DrawDownAmount + item.AllocatedAmount;
                                                }
                                                else
                                                {
                                                    difference = item.DrawDownAmount - item.AllocatedAmount;
                                                }
                                        <tr>
                                            <td style="text-align:left;">
                                                @if (Model.rolePermissionEntity.ViewBit)
                                                {
                                                    <img src="~/images/view-icon.png" class="img-responsive" onclick="OpenDrawInfo('@item.DrawId')" style="cursor:pointer;" alt="View Draw Information"/>
                                                    if (item.RevenueCount == 0)
                                                    {
                                                        if(item.RevenueTransactionCount == 0)
                                                        { 
                                                            <img src="~/images/Delete.png" class="img-responsive" onclick="DeleteDraw('@item.DrawId')" style="cursor:pointer;" alt="Delete Draw" height="20" width="20" />
                                                        }                                                        
                                                    }
                                                }
                                                else
                                                {
                                                    <a class="mrp_popup disableButton" data-toggle="modal">
                                                        <img src="~/images/view-icon.png" class="img-responsive disableButton" />
                                                    </a>
                                                }
                                            </td>
                                            <td nowrap>
                                                @item.FiscalYear
                                            </td>
                                            <td nowrap>
                                                @item.StatusName
                                            </td>
                                            <td nowrap>
                                                @if (item.DocumentFile != "")
                                                {
                                                    <a href="javascript:void()" onclick="OpenDocument('@item.DocumentFile')" style="cursor:pointer;">@item.DrawNumber</a>
                                                }
                                                else
                                                {
                                                    @item.DrawNumber
                                                }
                                            </td>
                                            <td nowrap>
                                                @string.Format("{0:C}", item.DrawDownAmount)
                                            </td>
                                            <td nowrap>
                                                @string.Format("{0:C}", item.AdjustedAmount)
                                            </td>
                                            <td nowrap>
                                                @item.DrawDownDate
                                            </td>
                                            <td nowrap>
                                                @item.DatePosted
                                            </td>
                                            <td nowrap>
                                                @item.BatchNumber
                                            </td>
                                            <td nowrap>
                                                @item.CashReceipt
                                            </td>
                                            <td nowrap>
                                                @item.ProjectName
                                            </td>
                                            <td nowrap>
                                                @string.Format("{0:C}", item.AllocatedAmount)
                                            </td>
                                            <td nowrap>
                                                @string.Format("{0:C}", difference)
                                            </td>
                                            <td nowrap>
                                                @item.AssignedToUser
                                            </td>
                                            <td nowrap style="text-align:left;">
                                                @item.DrawDescription
                                            </td>
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- popup -->
                                <div class="modal fade mrp_modalpopup" id="DrawModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            <!-- /page content -->
            <div id="container" class="mra_pagination">
                <div class="pagination">
                    @Html.PagedListPager(Model.pagedDrawEntities, page => Url.Action("ManageDraws", new { page }))
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">

        function ViewDraw(paymentId) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Draw/ViewDraw/" + paymentId,
                dataType: "html",
                success: function (evt) {
                    $('#DrawModal').html(evt);
                    $('#DrawModal').modal(options);
                    $('#DrawModal').modal('show');
                },
                error: function (req, status, error) {
                    alert(error);
                    alert("Error!Occured");
                }
            });
        }

        function EditDraw() {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Draw/EditDraw",
                dataType: "html",
                success: function (evt) {
                    $('#DrawModal').html(evt);
                    $('#DrawModal').modal(options);
                    $('#DrawModal').modal('show');
                },
                error: function (req, status, error) {
                    alert("Error!Occured");
                }
            });
        }




        function SelectedIndexChanged() {
            if ($("#SearchOn").val() != "" & $("#txtSearch").val() == "") {
                alert("Please enter value to search");
                $("#txtSearch").focus();
            }
            else {
                $('#frmDraws').submit();
            }
        }

        function SortOrder(SortOrder) {
            $("#hdnSortOrder").val(SortOrder)
            $('#frmDraws').submit();
        }

        function Validate() {
            alert("You don't have access to this activity. Please contact your administrator.");
            return false;
        }

        $(document).ready(function () {
            $('#mra_subli5').addClass('active');
        });

        function CreatePayment(InvoiceId) {
            document.getElementById("hdnDrawId").value = InvoiceId;
            document.forms[0].action = "CreateInvoicePayment";
            document.forms[0].submit();
        }


        function OpenDrawInfo(DrawId) {
            var url = "/Draw/DrawInfo/" + DrawId;
            location.href = url;
        }

        function OpenTransaction(DrawId) {
            var url = "/Draw/TransactionDetails/" + DrawId;
            location.href = url;
        }

        function DeleteDraw(DrawId) {
            if (window.confirm("Are you sure want to delete draw?")) {
                var drawEntity = {
                    DrawId: DrawId
                };
                var drawRequest = {
                    drawEntity: drawEntity
                };
                $.ajax({
                    url: "/Draw/DeleteDraw",
                    type: "POST",
                    data: drawRequest,
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                })
            }
        }

        function OpenDocument(FileName) {
            window.open("/Documents/Draw/" + FileName);
        }

        function CreateDraw() {
            location.href = "/Draw/CreateDraw";
        }
    </script>
}