@model DHSEntities.ReportResponse
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application :: Manage Receivables Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}

<title>@ViewBag.Title</title>


<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    function ValidateFields() {
        var FiscalYear = $('#FiscalYearId option:selected').text();

        if (FiscalYear == "") {
            alert("Please select Fiscal Year.");
            $("#FiscalYear").focus();
            return false;
        }

        return true;
    }
    $(document).ready(function () {
        $('#mra_subliMDSR').addClass('active');
    });
</script>
@using (Html.BeginForm("ManageReceivablesReport", "Report", FormMethod.Post, new { @id = "frmManageReceivablesReport" }))
{

    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <div class="mrp_content">
                <h2>Detailed Receivables Report for all Projects</h2>
            </div>
            <div class="mra_manage_settlement_report">
                <div class="form-group col-lg-6">
                    <label for="Facility">Select&nbsp;Fiscal Year</label>
                    @Html.DropDownList("FiscalYearId", new SelectList(Model.fiscalYearEntities, "FiscalYearId", "FiscalYear", @ViewData["FiscalYear"]), "", new { @class = "form-control mrp_modalselect" })
                </div>
                <div class="col-md-6">
                    @if (Model.rolePermissionEntity.ViewBit)
                    {
                        <input type="submit" value=" Get Report " class="btn btn-primary btn-updated" onclick="return ValidateFields();" />
                    }
                    else
                    {
                        <input type="button" value="Report " class="disableButton" disabled="disabled" />
                    }
                </div>
            </div>


            <div class="row">&nbsp;</div>

            <div class="row">
                <div class="col-lg-12 mra_managecrsummary_report">
                    @Html.Partial("frmReceivableReport")
                </div>
            </div>
        </div>
    </div>


}