@model DHSEntities.ReportResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application :: Manage Grant Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}
@using (Html.BeginForm("ManageGrantReport", "Report", FormMethod.Post, new { @id = "frmExpenses" }))
{
    <title>@ViewBag.Title</title>
    <input type="hidden" id="hdnExpenseId" name="hdnExpenseId" />
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>View Grant Report</h2>
                        <form class="mrp_selectdetails form-inline">
                            <div class="row">
                                <div class="form-group col-lg-4 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Fiscal&nbsp;Year:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("FiscalYearId", new SelectList(Model.fiscalYearEntities, "FiscalYearId", "FiscalYear", Model.FiscalYearId), "", new { @id = "FiscalYearId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Project:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("ProjectId", new SelectList(Model.projectEntities, "ProjectId", "ProjectName", Model.ProjectId), "", new { @id = "ProjectId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 col-xs-12 col-sm-7">
                                    <div class="form_modal">
                                        @if (Model.rolePermissionEntity.ViewBit)
                                        {
                                            <img src="~/images/search.png" class="img-responsive" height="40" width="40" onclick="SelectedIndexChanged()" style="cursor:pointer;" alt="Manage Grant Report" title="Manage Grant Report" />
                                        }
                                        else
                                        {
                                            <img src="~/images/search.png" class="disableButton" height="40" width="40" alt="Search Expense Information" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="14">EXPENSES</th>
                                            <th colspan="6">REVENUES</th>
                                        </tr>
                                        <tr>
                                            <th nowrap>
                                                Date
                                            </th>
                                            <th nowrap>
                                                Transaction Number
                                            </th>
                                            <th nowrap>
                                                Category
                                            </th>
                                            <th nowrap>
                                                Sub Category
                                            </th>
                                            <th nowrap>
                                                Transaction Amount
                                            </th>
                                            <th nowrap>
                                                Correct Amount
                                            </th>
                                            <th nowrap>
                                                Related Trans
                                            </th>
                                            <th nowrap>
                                                Other Batch Number
                                            </th>
                                            <th nowrap>
                                                Fund
                                            </th>
                                            <th nowrap>
                                                Vendor
                                            </th>
                                            <th nowrap>
                                                Department
                                            </th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                CFDA
                                            </th>
                                            <th nowrap>
                                                Draw Down Amount
                                            </th>
                                            <th nowrap>
                                                Draw Down Date
                                            </th>
                                            <th nowrap>
                                                Batch Number
                                            </th>
                                            <th nowrap>
                                                Cash Receipt
                                            </th>
                                            <th nowrap>
                                                Date Posted
                                            </th>
                                            <th nowrap>
                                                Remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ long RevenueTransactionId = 0;
                                            decimal TransactionAmountTotal = 0;
                                            decimal DraDownAmountTotal = 0;}
                                        @{foreach (var item in Model.reportEntities)
                                            {
                                                if(item.CorrectAmount>0)
                                                {
                                                    TransactionAmountTotal = TransactionAmountTotal + item.CorrectAmount;
                                                }
                                                else
                                                {
                                                    TransactionAmountTotal = TransactionAmountTotal + item.TransactionAmount;
                                                }

                                                <tr>
                                                    <td nowrap>
                                                        @item.ExpenseDepositDate
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransactionNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.Category
                                                    </td>
                                                    <td nowrap>
                                                        @item.SubCategory
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.TransactionAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.CorrectAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.RelatedTrans
                                                    </td>
                                                    <td nowrap>
                                                        @item.OtherBatchNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.Fund
                                                    </td>
                                                    <td nowrap>
                                                        @item.VendorName
                                                    </td>
                                                    <td nowrap>
                                                        @item.DepartmentName
                                                    </td>
                                                    <td>
                                                        @item.OrgName
                                                    </td>
                                                    <td>
                                                        @item.ObjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.CFDA
                                                    </td>
                                                    @if (RevenueTransactionId == item.RevenueTransactionId)
                                                    {
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                    }
                                                    else
                                                    {
                                                        DraDownAmountTotal = DraDownAmountTotal + item.DrawDownAmount;
                                                        <td nowrap>
                                                            @string.Format("{0:C}", item.DrawDownAmount)
                                                        </td>
                                                        <td nowrap>
                                                            @item.DrawDownDate
                                                        </td>
                                                        <td nowrap>
                                                            @item.BatchNumber
                                                        </td>
                                                        <td nowrap>
                                                            @item.CashReceipt
                                                        </td>
                                                        <td nowrap>
                                                            @item.DatePosted
                                                        </td>
                                                    }
                                                    <td nowrap style="text-align:left">
                                                        @item.Remarks
                                                    </td>
                                                </tr>
                                                RevenueTransactionId = item.RevenueTransactionId;
                                            }
                                        }
                                        <tr>
                                            <td colspan="3"><b>Transaction Amount Total:</b></td>
                                            <td>@string.Format("{0:C}", TransactionAmountTotal)</td>
                                            <td colspan="9" style="text-align:right;"><b>Drawn Amount Total:</b></td>
                                            <td>@string.Format("{0:C}", DraDownAmountTotal)</td>
                                            <td colspan="5"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <tr><td>&nbsp;</td></tr>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="15">EXPENSE ADJUSTMENTS</th>
                                        </tr>
                                        <tr>
                                            <th nowrap>
                                                Date
                                            </th>
                                            <th nowrap>
                                                Transaction Number
                                            </th>
                                            <th nowrap>
                                                Category
                                            </th>
                                            <th nowrap>
                                                Sub Category
                                            </th>
                                            <th nowrap>
                                                Transaction Amount
                                            </th>
                                            <th nowrap>
                                                Related Trans
                                            </th>
                                            <th nowrap>
                                                Status
                                            </th>
                                            <th nowrap>
                                                Fund
                                            </th>
                                            <th nowrap>
                                                Vendor
                                            </th>
                                            <th nowrap>
                                                Department
                                            </th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                CFDA
                                            </th>
                                            <th nowrap>
                                                Remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ 
                                            decimal ExpenseTransactionAmount = 0;
                                            }
                                        @{foreach (var item in Model.expenseAdjustments)
                                            {
                                                if (item.SubCategory != "Account Changed")
                                                {
                                                    ExpenseTransactionAmount = ExpenseTransactionAmount + item.TransactionAmount;
                                                }
                                                <tr>
                                                    <td nowrap>
                                                        @item.ExpenseAdjustmentDate
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransactionNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.Category
                                                    </td>
                                                    <td nowrap>
                                                        @item.SubCategory
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.TransactionAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.RelatedTrans
                                                    </td>
                                                    <td nowrap>
                                                        @item.StatusName
                                                    </td>
                                                    <td nowrap>
                                                        @item.Fund
                                                    </td>
                                                    <td nowrap>
                                                        @item.VendorName
                                                    </td>
                                                    <td nowrap>
                                                        @item.DepartmentName
                                                    </td>
                                                    <td>
                                                        @item.OrgName
                                                    </td>
                                                    <td>
                                                        @item.ObjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.CFDA
                                                    </td>
                                                    <td nowrap style="text-align:left;">
                                                        @item.Remarks
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td colspan="3"><b>Transaction Amount Total</b></td>
                                            <td>@string.Format("{0:C}", ExpenseTransactionAmount)</td>
                                            <td colspan="12"><b>Expense Total:</b>@string.Format("{0:C}", (TransactionAmountTotal + ExpenseTransactionAmount))</td>
                                            <td >&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <tr><td>&nbsp;</td></tr>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="19">PROJECT RECEIVABLES</th>
                                        </tr>
                                        <tr>
                                            <th nowrap>
                                                Date
                                            </th>
                                            <th nowrap>
                                                Transaction Number
                                            </th>
                                            <th nowrap>
                                                Category
                                            </th>
                                            <th nowrap>
                                                Sub Category
                                            </th>
                                            <th nowrap>
                                                Transaction Amount
                                            </th>
                                            <th nowrap>
                                                Correct Amount
                                            </th>
                                            <th nowrap>
                                                Related Trans
                                            </th>
                                            <th nowrap>
                                                Other Batch Number
                                            </th>
                                            <th nowrap>
                                                Fund
                                            </th>
                                            <th nowrap>
                                                Vendor
                                            </th>
                                            <th nowrap>
                                                Department
                                            </th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                CFDA
                                            </th>
                                            <th nowrap>
                                                Draw Down Amount
                                            </th>
                                            <th nowrap>
                                                Draw Down Date
                                            </th>
                                            <th nowrap>
                                                Batch Number
                                            </th>
                                            <th nowrap>
                                                Cash Receipt
                                            </th>
                                            <th nowrap>
                                                Date Posted
                                            </th>
                                            <th nowrap>
                                                Remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ long DrawId = 0;
                                            decimal RTransactionAmountTotal = 0;}
                                        @{foreach (var item in Model.projectReceivables)
                                            {
                                                if (item.CorrectAmount > 0)
                                                {
                                                    RTransactionAmountTotal = RTransactionAmountTotal + item.CorrectAmount;
                                                }
                                                else
                                                {
                                                    RTransactionAmountTotal = RTransactionAmountTotal + item.TransactionAmount;
                                                }
                                                <tr>
                                                    <td nowrap>
                                                        @item.ExpenseDepositDate
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransactionNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.Category
                                                    </td>
                                                    <td nowrap>
                                                        @item.SubCategory
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.TransactionAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.CorrectAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.RelatedTrans
                                                    </td>
                                                    <td nowrap>
                                                        @item.OtherBatchNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.Fund
                                                    </td>
                                                    <td nowrap>
                                                        @item.VendorName
                                                    </td>
                                                    <td nowrap>
                                                        @item.DepartmentName
                                                    </td>
                                                    <td>
                                                        @item.OrgName
                                                    </td>
                                                    <td>
                                                        @item.ObjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.CFDA
                                                    </td>
                                                    @if (DrawId == item.RevenueTransactionId)
                                                    {
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                    }
                                                    else
                                                    {
                                                        <td nowrap>
                                                            @string.Format("{0:C}", item.DrawDownAmount)
                                                        </td>
                                                        <td nowrap>
                                                            @item.DrawDownDate
                                                        </td>
                                                        <td nowrap>
                                                            @item.BatchNumber
                                                        </td>
                                                        <td nowrap>
                                                            @item.CashReceipt
                                                        </td>
                                                        <td nowrap>
                                                            @item.DatePosted
                                                        </td>
                                                    }
                                                    <td nowrap style="text-align:left;">
                                                        @item.Remarks
                                                    </td>
                                                </tr>
                                                DrawId = item.RevenueTransactionId;
                                            }
                                        }
                                        <tr>
                                            <td colspan="3"><b>Transaction Amount Total:</b></td>
                                            <td>@string.Format("{0:C}", RTransactionAmountTotal)</td>
                                            <td colspan="13" style="text-align:right;">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>


                                <table class="table table-bordered table-striped">
                                    <tr><td>&nbsp;</td></tr>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="19">PROJECT PAYABLES</th>
                                        </tr>
                                        <tr>
                                            <th nowrap>
                                                Date
                                            </th>
                                            <th nowrap>
                                                Transaction Number
                                            </th>
                                            <th nowrap>
                                                Category
                                            </th>
                                            <th nowrap>
                                                Sub Category
                                            </th>
                                            <th nowrap>
                                                Transaction Amount
                                            </th>
                                            <th nowrap>
                                                Correct Amount
                                            </th>
                                            <th nowrap>
                                                Other Batch Number
                                            </th>
                                            <th nowrap>
                                                Related Trans
                                            </th>
                                            <th nowrap>
                                                Fund
                                            </th>
                                            <th nowrap>
                                                Vendor
                                            </th>
                                            <th nowrap>
                                                Department
                                            </th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                CFDA
                                            </th>
                                            <th nowrap>
                                                Draw Down Amount
                                            </th>
                                            <th nowrap>
                                                Draw Down Date
                                            </th>
                                            <th nowrap>
                                                Batch Number
                                            </th>
                                            <th nowrap>
                                                Draw Project
                                            </th>
                                            <th nowrap>
                                                Cash Receipt
                                            </th>
                                            <th nowrap>
                                                Date Posted
                                            </th>
                                            <th nowrap>
                                                Remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ long ppDrawId = 0;
                                            string ppProject = string.Empty;
                                            decimal ppRTransactionAmountTotal = 0;
                                            decimal ppRSubTransactionAmountTotal = 0;
                                            string SubtotalProject = string.Empty;
                                        }
                                        @{foreach (var item in Model.projectPayables)
                                            {
                                                SubtotalProject = item.BatchNumber + " - " + item.DrawProjectName + " - Payable Amount Sub-Total:";
                                                  if (item.CorrectAmount > 0)
                                                {
                                                    ppRTransactionAmountTotal = ppRTransactionAmountTotal + item.CorrectAmount;
                                                }
                                                else
                                                {
                                                    ppRTransactionAmountTotal = ppRTransactionAmountTotal + item.TransactionAmount;
                                                }
                                                if (ppDrawId == item.RevenueTransactionId && ppProject == item.DrawProjectName)
                                                {
                                                }
                                                else if (ppRSubTransactionAmountTotal > 0)
                                                {
                                                    <tr>
                                                        <td colspan="3"><b>@SubtotalProject</b></td>
                                                        <td>@string.Format("{0:C}", ppRSubTransactionAmountTotal)</td>
                                                        <td colspan="16" style="text-align:right;">&nbsp;</td>
                                                    </tr>
                                                    ppRSubTransactionAmountTotal = 0;
                                                }
                                                <tr>
                                                    <td nowrap>
                                                        @item.ExpenseDepositDate
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransactionNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.Category
                                                    </td>
                                                    <td nowrap>
                                                        @item.SubCategory
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.TransactionAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.CorrectAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.OtherBatchNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.RelatedTrans
                                                    </td>
                                                    <td nowrap>
                                                        @item.Fund
                                                    </td>
                                                    <td nowrap>
                                                        @item.VendorName
                                                    </td>
                                                    <td nowrap>
                                                        @item.DepartmentName
                                                    </td>
                                                    <td>
                                                        @item.OrgName
                                                    </td>
                                                    <td>
                                                        @item.ObjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.CFDA
                                                    </td>
                                                    @if (ppDrawId == item.RevenueTransactionId && ppProject == item.DrawProjectName)
                                                    {
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                        <td nowrap>&nbsp;</td>
                                                    }
                                                    else
                                                    {
                                                        <td nowrap>
                                                            @string.Format("{0:C}", item.DrawDownAmount)
                                                        </td>
                                                        <td nowrap>
                                                            @item.DrawDownDate
                                                        </td>
                                                        <td nowrap>
                                                            @item.BatchNumber
                                                        </td>
                                                        <td nowrap>
                                                            @item.DrawProjectName
                                                        </td>
                                                        <td nowrap>
                                                            @item.CashReceipt
                                                        </td>
                                                        <td nowrap>
                                                            @item.DatePosted
                                                        </td>
                                                    }
                                                    <td nowrap style="text-align:left;">
                                                        @item.Remarks
                                                    </td>
                                                </tr>
                                                if (item.CorrectAmount > 0)
                                                {
                                                    ppRSubTransactionAmountTotal = ppRSubTransactionAmountTotal + item.CorrectAmount;
                                                }
                                                else
                                                {
                                                    ppRSubTransactionAmountTotal = ppRSubTransactionAmountTotal + item.TransactionAmount;
                                                }
                                                ppDrawId = item.RevenueTransactionId;
                                                ppProject = item.DrawProjectName;
                                            }
                                        }
                                        <tr>
                                            <td colspan="3"><b>@SubtotalProject</b></td>
                                            <td>@string.Format("{0:C}", ppRSubTransactionAmountTotal)</td>
                                            <td colspan="16" style="text-align:right;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><b>Payable Amount Total:</b></td>
                                            <td>@string.Format("{0:C}", ppRTransactionAmountTotal)</td>
                                            <td colspan="16" style="text-align:right;">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-bordered table-striped">
                                    <tr><td>&nbsp;</td></tr>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="18">REVENUE DEPOSITS</th>
                                        </tr>
                                        <tr>
                                            <th nowrap>
                                                Revenue Transaction Date
                                            </th>
                                            <th nowrap>
                                                Revenue Transaction Number
                                            </th>
                                            <th nowrap>
                                                Revenue Transaction Amount
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                Batch Number
                                            </th>
                                            <th nowrap>
                                                Revenue Type Name
                                            </th>
                                            <th nowrap>
                                                Revenue Transaction Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ decimal rDepositAmount = 0;}
                                        @{foreach (var item in Model.revenueDeposits)
                                            {
                                                rDepositAmount = rDepositAmount + item.RevenueTransactionAmount;
                                                <tr>
                                                    <td nowrap>
                                                        @item.RevenueTransactionDate
                                                    </td>
                                                    <td nowrap>
                                                        @item.RevenueTransactionNumber
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.RevenueTransactionAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.BatchNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.RevenueTypeName
                                                    </td>
                                                    <td nowrap style="text-align:left;">
                                                        @item.Remarks
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td><b>Total:</b></td>
                                            <td>@string.Format("{0:C}", rDepositAmount)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <tr><td>&nbsp;</td></tr>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="18">REVENUE ADJUSTMENTS</th>
                                        </tr>
                                        <tr>
                                            <th nowrap>
                                                Revenue Transaction Date
                                            </th>
                                            <th nowrap>
                                                Revenue Transaction Number
                                            </th>
                                            <th nowrap>
                                                Revenue Transaction Amount
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Revenue Type Name
                                            </th>
                                            <th nowrap>
                                                Status
                                            </th>
                                            <th nowrap>
                                                Related Trans
                                            </th>
                                            <th nowrap>
                                                Revenue Transaction Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ decimal rAdjustmentAmount = 0;}
                                        @{foreach (var item in Model.revenueAdjustments)
                                            {
                                                if(item.RevenueTypeName!= "Account Changed")
                                                {
                                                    rAdjustmentAmount = rAdjustmentAmount + item.RevenueTransactionAmount;
                                                }
                                                <tr>
                                                    <td nowrap>
                                                        @item.RevenueTransactionDate
                                                    </td>
                                                    <td nowrap>
                                                        @item.RevenueTransactionNumber
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.RevenueTransactionAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ObjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.OrgName
                                                    </td>
                                                    <td nowrap>
                                                        @item.RevenueTypeName
                                                    </td>
                                                    <td nowrap>
                                                        @item.StatusName
                                                    </td>
                                                    <td nowrap>
                                                        @item.RelatedTrans
                                                    </td>
                                                    <td style="text-align:left;">
                                                        @item.Remarks
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td>@string.Format("{0:C}", rAdjustmentAmount)</td>
                                            <td colspan="8"><b>Revenue Total:</b>@string.Format("{0:C}", (rDepositAmount + rAdjustmentAmount))</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-bordered table-striped">
                                    <tr><td>&nbsp;</td></tr>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="18">DRAWS</th>
                                        </tr>
                                        <tr>
                                            <th nowrap>
                                                Draw Date
                                            </th>
                                            <th nowrap>
                                                Draw Amount
                                            </th>
                                            <th nowrap>
                                                Adjusted Amount
                                            </th>
                                            <th nowrap>
                                                Total
                                            </th>
                                            <th nowrap>
                                                Batch Number
                                            </th>
                                            <th nowrap>
                                                Cash Receipt
                                            </th>
                                            <th nowrap>
                                                Date Posted
                                            </th>
                                            <th nowrap>
                                                Draw Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ decimal drawTotal = 0;}
                                        @{foreach (var item in Model.drawEntities)
                                            {
                                                drawTotal = drawTotal + item.DrawDownAmount;
                                                <tr>
                                                    <td nowrap>
                                                        @item.DrawDownDate
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.DrawDownAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.AdjustedAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", (item.DrawDownAmount + item.AdjustedAmount))
                                                    </td>
                                                    <td nowrap>
                                                        @item.BatchNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.CashReceipt
                                                    </td>
                                                    <td nowrap>
                                                        @item.DatePosted
                                                    </td>
                                                    <td nowrap style="text-align:left;">
                                                        @item.DrawDescription
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td>@string.Format("{0:C}", drawTotal)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- popup -->
                                <div class="modal fade mrp_modalpopup" id="CostReportInvoiceModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            <!-- /page content -->
            <div id="container" class="mra_pagination">
                <div class="pagination">

                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">


        function SelectedIndexChanged() {
            if ($("#SearchOn").val() != "" & $("#txtSearch").val() == "") {
                alert("Please enter value to search");
                $("#txtSearch").focus();
            }
            else {
                $('#frmExpenses').submit();
            }
        }

        function Validate() {
            alert("You don't have access to this activity. Please contact your administrator.");
            return false;
        }

        $(document).ready(function () {
            $('#mra_subliGRe').addClass('active');
        });

        $("#FiscalYearId").change(function () {
            var x = $("#FiscalYearId").val();
            fire_ajax(x);
        });

        function fire_ajax(s) {
            var projectEntity = {
                FiscalYearId: s
            };
            var projectRequest = {
                projectEntity: projectEntity
            };
            $.ajax({
                url: "/Project/GetProjects",
                type: "POST",
                data: projectRequest,
                dataType: 'json',
                success: function (data) {
                    var s = '<option value="-1">Please Select Project</option>';
                    for (var i = 0; i < data.projectEntities.length; i++) {
                        s += '<option value="' + data.projectEntities[i].ProjectId + '">' + data.projectEntities[i].ProjectName + ' - ' + data.projectEntities[i].ProjectDescription + '</option>';
                    }
                    $("#ProjectId").html(s);
                }

            })
        }

    </script>
}