@model DHSEntities.RevenueTypeResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application :: Manage Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}
@using (Html.BeginForm("ManageReports", "Report", FormMethod.Post, new { @id = "frmRevenueTypes" }))
{
    <title>@ViewBag.Title</title>
    <input type="hidden" id="hdnRevenueTypeId" name="hdnRevenueTypeId" />
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>Print Reports</h2>
                        <form class="mrp_selectdetails form-inline">
                           
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th nowrap>
                                                Report Name
                                            </th>
                                            <th nowrap>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td headers="Action" style="text-align:left;"> <b><u>@Html.ActionLink("Detailed FY Reconciled Project Report", "ManageGrantProjectReport", new { controller = "Report" })</u></b></td>
                                            <td style="text-align:left;">
                                                Detailed report following OMB standardized template for reconciled revenues and expenses in a fiscal year by project.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td headers="Action" style="text-align:left;"> <b><u>@Html.ActionLink("Summary FY Federal Report for all Projects", "ManageDHSSummaryReport", new { controller = "Report" })</u></b></td>
                                            <td style="text-align:left;">
                                                Summary report showing Agency reported expenses and revenues versus reconciled expenses, revenues and differences by fiscal year for all agency projects.
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td headers="Action" style="text-align:left;"> <b><u>@Html.ActionLink("Summary FY Federal Receivables D.E.R.  Report", "ManageDERSummaryReport", new { controller = "Report" })</u></b></td>
                                            <td style="text-align:left;">
                                                Summary report of Reconciled Draws, Expenses and Revenues for all projects by fiscal year.
                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td headers="Action" style="text-align:left;"> <b><u>@Html.ActionLink("Detailed Receivables Report for all Projects", "ManageReceivablesReport", new { controller = "Report" })</u></b></td>
                                            <td style="text-align:left;">
                                                Detailed report of Receivables for all projects by fiscal year.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td headers="Action" style="text-align:left;"> <b><u>@Html.ActionLink("Reconciled Project Summaries Report", "ManageProjectSummaries", new { controller = "Report" })</u></b></td>
                                            <td style="text-align:left;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            
        </div>
    </div>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#mra_subliRe').addClass('active');
        });

    </script>
}