@model DHSEntities.CostReportPaymentResponse
@{
    ViewBag.Title = "Cost Report Payments";
}

@*@Ajax.BeginForm("SaveCostReportPayment", "CostReportPayment", new AjaxOptions { HttpMethod = "POST" })*@


@Html.HiddenFor(m => m.CostReportPaymentEntity.PaymentId, htmlAttributes: new { @id = "PaymentID" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.InvoiceId, htmlAttributes: new { @id = "InvoiceID" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.VendorCode, htmlAttributes: new { @id = "VendorCode" })
<input type="hidden" name="FiscalPeriodId" id="FiscalPeriodId" value="@Model.CostReportPaymentEntity.FiscalPeriodId" />
<input type="hidden" name="FacilityId" id="FacilityId" value="@Model.CostReportPaymentEntity.FacilityId" />
@Html.HiddenFor(m => m.CostReportPaymentEntity.UniqueInvoice, htmlAttributes: new { @id = "UniqueInvoice" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.InvoiceNumber, htmlAttributes: new { @id = "invoiceNumber", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.DocumentNumber, new { @id = "DocumentNumber", @readonly = "readonly" })
<input type="hidden" name="IssueTypeID" id="IssueTypeID" value="@Model.CostReportPaymentEntity.IssueTypeId" />
<input type="hidden" name="PaymentTypeID" id="PaymentTypeID" value="@Model.CostReportPaymentEntity.PaymentTypeId" />
<input type="hidden" name="InvoiceTypeId" id="InvoiceTypeId" value="@Model.CostReportPaymentEntity.InvoiceTypeId" />
@Html.HiddenFor(m => m.CostReportPaymentEntity.InvoiceDate, htmlAttributes: new { @id = "InvoiceDate", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.CalculatedShare, htmlAttributes: new { @id = "CalculatedShare", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.VendorTotalCharges, htmlAttributes: new { @id = "VendorTotalCharges", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.VendorTotalCharges), @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.DHSApprovedFederalMatchPercentage, htmlAttributes: new { @id = "DHSApprovedFederalMatchPercentage" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.VendorDeductible, htmlAttributes: new { @id = "VendorDeductible", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.VendorDeductible), @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.DHSApprovedFederalMatch, htmlAttributes: new { @id = "DHSApprovedFederalMatch", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.DHSApprovedFederalMatch), @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.DHSApprovedDeductible, htmlAttributes: new { @id = "DHSApprovedDeductible", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.DHSApprovedDeductible), @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.DHSApprovedLocalMatchPercentage, htmlAttributes: new { @id = "DHSApprovedLocalMatchPercentage", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.VendorDays, htmlAttributes: new { @id = "VendorDays", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.DHSApprovedLocalMatch, htmlAttributes: new { @id = "DHSApprovedLocalMatch", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.DHSApprovedLocalMatch), @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.DHSApprovedDays, htmlAttributes: new { @id = "DHSApprovedDays", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.CalculatedInPatientDays, htmlAttributes: new { @id = "CalculatedInPatientDays", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.VendorAllowableAmount, htmlAttributes: new { @id = "VendorAllowableAmount", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.VendorAllowableAmount), @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.CalculatedOutPatientDays, htmlAttributes: new { @id = "CalculatedOutPatientDays", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.DHSApprovedAllowableAmount, htmlAttributes: new { @id = "DHSApprovedAllowableAmount", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.DHSApprovedAllowableAmount), @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.PerdiemRateUsed, htmlAttributes: new { @id = "PerdiemRateUsed", @readonly = "readonly" })
<input type="hidden" name="DHSFederalMatch" id="DHSFederalMatch" value="@Model.CostReportPaymentEntity.DHSFederalMatch" />
@Html.HiddenFor(m => m.CostReportPaymentEntity.CorrectPerdiemRate, htmlAttributes: new { @id = "CorrectPerdiemRate", @readonly = "readonly" })
@Html.HiddenFor(m => m.CostReportPaymentEntity.Notes, new { @id = "Notes", @readonly = "readonly" })
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Cost Report Payment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-footer mra_edit_footer">
                <a href="Javascript:void()" onclick="return SubmitValue()" id="btnSubmit" class="mra_edit_save" title="Save">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </a>
                @*<input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />*@
            </div>
        </div>
        <div class="modal-body">
            <div class="mrp_modalcontent">
                <h2>Invoice Information</h2>


                <div class="row mra_edit-view">

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Fiscal&nbsp;Period</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <lable id="lbFacilityCharges">@Model.CostReportPaymentEntity.FiscalPeriodName</lable>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Reporting&nbsp;Facility</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p><lable id="lbFacilityCharges">@Model.CostReportPaymentEntity.FacilityName</lable></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Unique&nbsp;Invoice</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.UniqueInvoice</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Invoice&nbsp;Number </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.InvoiceNumber</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Document&nbsp;Number</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.DocumentNumber</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Issue&nbsp;Type</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.IssueType</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Payment&nbsp;Type</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.PaymentTypes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Invoice&nbsp;Type</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.InvoiceType</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label> Invoice&nbsp;Date</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.InvoiceDate</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Calculated&nbsp;Share</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.CalculatedShare</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Total&nbsp;Charges</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p> @String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.VendorTotalCharges)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved&nbsp;Federal Match,&nbsp;%</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.DHSApprovedFederalMatchPercentage</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Deductible</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.VendorDeductible)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved&nbsp;Federal&nbsp;Match&nbsp;$</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.DHSApprovedFederalMatch)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Deductible</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.DHSApprovedDeductible)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Local&nbsp;Match&nbsp;%</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.DHSApprovedLocalMatchPercentage</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Days</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.VendorDays</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Local&nbsp;Match&nbsp;$</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.DHSApprovedLocalMatch)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Days</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.DHSApprovedDays</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Calculated&nbsp;Inpatient days</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.CalculatedInPatientDays</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Billed Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.VendorAllowableAmount)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Calculated&nbsp;Outpatient Days</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>  @Model.CostReportPaymentEntity.CalculatedOutPatientDays</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Allowable&nbsp;Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.DHSApprovedAllowableAmount)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Per&nbsp;Diem Rate&nbsp;Used </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.PerdiemRateUsed</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Federal Match</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>@Model.CostReportPaymentEntity.RuleName</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Correct&nbsp;Per Diem&nbsp;Rate</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    <p>  @Model.CostReportPaymentEntity.CorrectPerdiemRate</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form_modal mra_note">
                            <label><span class="red">Notes:</span></label>
                            <p>@Model.CostReportPaymentEntity.Notes</p>
                        </div>
                        <hr />
                        <h2>Payment Information</h2>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.DropDownList("VendorId", new SelectList(Model.vendors, "VendorId", "VendorName", Model.CostReportPaymentEntity.VendorId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Purchase Order</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.PurchaseOrder, htmlAttributes: new { @id = "PurchaseOrder", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label> Invoice (Payment) Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.InvoicePaymentAmount, htmlAttributes: new { @id = "InvoicePaymentAmount", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.InvoicePaymentAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Org</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.Org, htmlAttributes: new { @id = "Org", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Object</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.Object, htmlAttributes: new { @id = "Object", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Project</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.Project, htmlAttributes: new { @id = "Project", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Project Type</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.ProjectType, htmlAttributes: new { @id = "ProjectType", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Project Title</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.ProjectTitle, htmlAttributes: new { @id = "ProjectTitle", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Check Date</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.CheckDate, htmlAttributes: new { @id = "CheckDate", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Check Number</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.CheckNumber, htmlAttributes: new { @id = "CheckNumber", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Check Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.CostReportPaymentEntity.CheckAmount, htmlAttributes: new { @id = "CheckAmount", Value = String.Format("{0:$#,##0.00}", Model.CostReportPaymentEntity.CheckAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <label><span class="red">Reviewer Comments:</span></label><br />
                            &nbsp;<textarea id="txtComments" class = "form-control mrp_modalselect" name="txtComments" style="margin: 0px; width: 500px; height: 60px;">@Model.CostReportPaymentEntity.Comments</textarea>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                            <input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
