@model DHSEntities.CostReportInvoiceResponse
@{
    ViewBag.Title = "Cost Report Invoices";
}
@Html.HiddenFor(m => m.costReportInvoiceEntity.InvoiceId, htmlAttributes: new { @id = "InvoiceID" })
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Cost Report Invoice</h5>

            @*<input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-footer mra_edit_footer">
                <a href="Javascript:void()" title="Save" onclick="return SubmitValue()" id="btnSubmit" class="mra_edit_save">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </a>
                @*<input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />*@
            </div>
            @*<a href="Javascript:void()" onclick="return SubmitValue()" id="btnSubmit" class="mra_edit_save">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </a>*@
        </div>
        <div class="modal-body">
            <div class="mrp_modalcontent">
                <h2>Invoice Information</h2>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Fiscal&nbsp;Period</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.DropDownList("FiscalYearsID", new SelectList(Model.fiscalYearEntities, "FiscalYearID", "FiscalYearName", Model.costReportInvoiceEntity.FiscalPeriodId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Reporting&nbsp;Facility</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.DropDownList("FacilitiesId", new SelectList(Model.reportingFacilityEntities, "FacilityId", "FacilityName", Model.costReportInvoiceEntity.FacilityId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Unique&nbsp;Invoice</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.UniqueInvoice, htmlAttributes: new { @id = "UniqueInvoice", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Invoice&nbsp;Number </label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.InvoiceNumber, htmlAttributes: new { @id = "InvoiceNumber", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Document&nbsp;Number</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DocumentNumber, htmlAttributes: new { @id = "Documentnumberr", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Issue&nbsp;Type</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.DropDownList("IssueTypeId", new SelectList(Model.issueTypeEntities, "IssueTypeId", "IssueType", Model.costReportInvoiceEntity.IssueTypeId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Payment&nbsp;Type</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.DropDownList("PaymentTypesID", new SelectList(Model.paymentTypes, "PaymentTypeID", "PaymentTypeName", Model.costReportInvoiceEntity.PaymentTypeId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Invoice&nbsp;Type</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.DropDownList("InvoiceTypeID", new SelectList(Model.invoiceTypesEntities, "InvoiceTypeId", "InvoiceType", Model.costReportInvoiceEntity.InvoiceTypeId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label> Invoice&nbsp;Date</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.InvoiceDate, htmlAttributes: new { @id = "InvoiceDate", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Calculated&nbsp;Share</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.CalculatedShare, htmlAttributes: new { @id = "CalculatedShare", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Total&nbsp;Charges</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.VendorTotalCharges, htmlAttributes: new { @id = "VendorTotalCharges", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorTotalCharges), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved&nbsp;Federal Match,&nbsp;%</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedFederalMatchPercentage, htmlAttributes: new { @id = "DHSApprovedFederalMatchPercentage", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Deductible</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.VendorDeductible, htmlAttributes: new { @id = "VendorDeductible", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorDeductible), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved&nbsp;Federal Match&nbsp;$</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedFederalMatch, htmlAttributes: new { @id = "DHSApprovedFederalMatch", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedFederalMatch), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Deductible</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedDeductible, htmlAttributes: new { @id = "DHSApprovedDeductible", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedDeductible), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Local&nbsp;Match&nbsp;%</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedLocalMatchPercentage, htmlAttributes: new { @id = "DHSApprovedLocalMatchPercentage", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Days</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.VendorDays, htmlAttributes: new { @id = "VendorDays", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Local&nbsp;Match&nbsp;$</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedLocalMatch, htmlAttributes: new { @id = "DHSApprovedLocalMatch", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedLocalMatch), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Days</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedDays, htmlAttributes: new { @id = "DHSApprovedDays", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Calculated&nbsp;Inpatient days</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.CalculatedInPatientDays, htmlAttributes: new { @id = "CalculatedInPatientDays", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Billed Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.VendorAllowableAmount, htmlAttributes: new { @id = "VendorAllowableAmount", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorAllowableAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Calculated&nbsp;Outpatient Days</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.CalculatedOutPatientDays, htmlAttributes: new { @id = "CalculatedOutPatientDays", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved Allowable&nbsp;Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedAllowableAmount, htmlAttributes: new { @id = "DHSApprovedAllowableAmount", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedAllowableAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Per&nbsp;Diem Rate&nbsp;Used </label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.PerdiemRateUsed, htmlAttributes: new { @id = "PerdiemRateUsed", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Federal Match</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.DropDownList("RuleId", new SelectList(Model.ruleEntities, "RuleId", "RuleName", Model.costReportInvoiceEntity.DHSFederalMatch), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Correct&nbsp;Per Diem&nbsp;Rate</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.CorrectPerdiemRate, htmlAttributes: new { @id = "CorrectPerdiemRate", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form_modal">
                            <label><span class="red">Notes:</span></label>
                            <textarea id="txtNotes" name="txtNotes" style="margin: 0px; width: 500px; height: 80px;">@Model.costReportInvoiceEntity.Notes</textarea>
                        </div>
                    </div>
                        <hr />
                        <h2>Payment Information</h2><button type="button" class="btn btn-primary btn-updated" onclick="return CreatePayment(@Model.costReportInvoiceEntity.InvoiceId)">Create Payment</button>

                    <div class="col-lg-12">
                        <div class="row mrp_table-row">
                            <div class="col-lg-12 col-xs-12">
                                <div class="table-responsive">
                                    <div class="mrp_contentbody mrp_contenttable">
                                        <div class="mrp_table">
                                            <table class="table table-bordered table-striped" cellpadding="2" cellspacing="5">
                                                <thead>
                                                    <tr>
                                                        <td nowrap>
                                                            Document Number
                                                        </td>
                                                        <td nowrap>
                                                            Vendor Name - Full
                                                        </td>
                                                        <td nowrap>
                                                            Purchase Order
                                                        </td>
                                                        <td nowrap>
                                                            Invoice (Payment) Amount
                                                        </td>
                                                        <td>
                                                            Org
                                                        </td>
                                                        <td>
                                                            Object
                                                        </td>
                                                        <td>
                                                            Project
                                                        </td>
                                                        <td nowrap>
                                                            Project Type
                                                        </td>
                                                        <td nowrap>
                                                            Project Title
                                                        </td>
                                                        <td nowrap>
                                                            Check Date
                                                        </td>
                                                        <td nowrap>
                                                            Check Number
                                                        </td>
                                                        <td nowrap>
                                                            Check Amount
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.costReportInvoiceEntities)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.DocumentNumber
                                                            </td>
                                                            <td nowrap> @item.VendorName</td>
                                                            <td nowrap> @item.PurchaseOrder</td>
                                                            <td nowrap> @item.InvoicePaymentAmount</td>
                                                            <td nowrap> @item.Org</td>
                                                            <td nowrap> @item.Object</td>
                                                            <td nowrap> @item.Project</td>
                                                            <td nowrap> @item.ProjectType</td>
                                                            <td nowrap> @item.ProjectTitle</td>
                                                            <td nowrap> @item.CheckDate</td>
                                                            <td nowrap> @item.CheckNumber</td>
                                                            <td nowrap>@String.Format("{0:$#,##0.00}", item.CheckAmount)</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


               

            </div>
        </div>
    </div>
</div>
