
@model DHSEntities.CostReportInvoiceResponse
@{
    ViewBag.Title = "Cost Report Invoice";
}

@*@Ajax.BeginForm("SaveCostReportInvoice", "CostReportInvoice", new AjaxOptions { HttpMethod = "POST" })*@

@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");

}
<script src="~/js/jquery.min.js"></script>
@Html.HiddenFor(m => m.costReportInvoiceEntity.InvoiceId, htmlAttributes: new { @id = "InvoiceID" })

@using (Html.BeginForm("CreateCostReportinvoice", "CostReportInvoice", FormMethod.Post, new { @id = "frmManageCRPayment" }))
{
    <title>@ViewBag.Title</title>
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="mrp_content">
                <h2>Invoice Information</h2>

                <div class="row mra_createcost_report_payment">

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Fiscal Period</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("FiscalYearsID", new SelectList(Model.fiscalYearEntities, "FiscalYearID", "FiscalYearName", Model.costReportInvoiceEntity.FiscalPeriodId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Reporting&nbsp;Facility</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("FacilitiesId", new SelectList(Model.reportingFacilityEntities, "FacilityId", "FacilityName", Model.costReportInvoiceEntity.FacilityId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Unique Invoice</label>
                                </div>
                            </div>

                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.UniqueInvoice, htmlAttributes: new { @id = "UniqueInvoice", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Invoice Number </label>
                                </div>
                            </div>

                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.InvoiceNumber, htmlAttributes: new { @id = "InvoiceNumber", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Document&nbsp;Number</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DocumentNumber, htmlAttributes: new { @id = "DocumentNumber", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Issue Type</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("IssueTypeId", new SelectList(Model.issueTypeEntities, "IssueTypeId", "IssueType", Model.costReportInvoiceEntity.IssueTypeId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Payment Type</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("PaymentTypesID", new SelectList(Model.paymentTypes, "PaymentTypeID", "PaymentTypeName", Model.costReportInvoiceEntity.PaymentTypeId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Invoice Type</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("InvoiceTypeID", new SelectList(Model.invoiceTypesEntities, "InvoiceTypeId", "InvoiceType", Model.costReportInvoiceEntity.InvoiceTypeId), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label> Invoice Date</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.InvoiceDate, htmlAttributes: new { @id = "InvoiceDate", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Calculated Share</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.CalculatedShare, htmlAttributes: new { @id = "CalculatedShare", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Vendor Total Charges</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.VendorTotalCharges, htmlAttributes: new { @id = "VendorTotalCharges", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorTotalCharges), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>DHS&nbsp;Approved&nbsp;Federal Match,&nbsp;%</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedFederalMatchPercentage, htmlAttributes: new { @id = "DHSApprovedFederalMatchPercentage", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Vendor Deductible</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.VendorDeductible, htmlAttributes: new { @id = "VendorDeductible", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorDeductible), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>DHS Approved Federal Match $</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedFederalMatch, htmlAttributes: new { @id = "DHSApprovedFederalMatch", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedFederalMatch), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>DHS Approved Deductible</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedDeductible, htmlAttributes: new { @id = "DHSApprovedDeductible", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedDeductible), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>DHS Approved Local Match, %</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedLocalMatchPercentage, htmlAttributes: new { @id = "DHSApprovedLocalMatchPercentage", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Vendor Days</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.VendorDays, htmlAttributes: new { @id = "VendorDays", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>DHS Approved Local Match $</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedLocalMatch, htmlAttributes: new { @id = "DHSApprovedLocalMatch", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedLocalMatch), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>DHS Approved Days</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedDays, htmlAttributes: new { @id = "DHSApprovedDays", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Calculated Inpatient days</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.CalculatedInPatientDays, htmlAttributes: new { @id = "CalculatedInPatientDays", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Vendor Billed Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.VendorAllowableAmount, htmlAttributes: new { @id = "VendorAllowableAmount", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorAllowableAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Calculated Outpatient Days</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.CalculatedOutPatientDays, htmlAttributes: new { @id = "CalculatedOutPatientDays", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>DHS Approved Allowable Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.DHSApprovedAllowableAmount, htmlAttributes: new { @id = "DHSApprovedAllowableAmount", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedAllowableAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Per Diem Rate Used </label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.PerdiemRateUsed, htmlAttributes: new { @id = "PerdiemRateUsed", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>DHS Federal Match</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("RuleId", new SelectList(Model.ruleEntities, "RuleId", "RuleName", Model.costReportInvoiceEntity.DHSFederalMatch), "", new { @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Correct Per Diem rate</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.costReportInvoiceEntity.CorrectPerdiemRate, htmlAttributes: new { @id = "CorrectPerdiemRate", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-4 col-md-2">
                        <div class="form_modal">
                            <label>Notes</label>
                        </div>
                    </div>
                    <div class="col-lg-10 col-xs-12 col-sm-8 col-md-10">
                        <div class="form_modal">
                            <textarea id="txtNotes" name="txtNotes" style="margin: 0px; width: 100%; height: 80px;">@Model.costReportInvoiceEntity.Notes</textarea>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function SubmitValue() {
            if ($("#checkDate").val() == "") {
                alert("Please enter check date.");
                $("#checkDate").focus();
                return false;
            }
            var costReportPaymentRequest = {
                PaymentId: document.getElementById("PaymentID").value,
                CostReportPaymentEntity:
                {
                    InvoiceId: document.getElementById("InvoiceID").value,
                    VendorId: document.getElementById("VendorId").value,
                    VendorCode: document.getElementById("VendorCode").value,
                    PurchaseOrder: document.getElementById("PurchaseOrder").value,
                    InvoicePaymentAmount: parseFloat((document.getElementById("InvoicePaymentAmount").value).replace("$", "").replace(",", "")).toFixed(2),
                    Org: document.getElementById("Org").value,
                    Object: document.getElementById("Object").value,
                    Project: document.getElementById("Project").value,
                    ProjectType: document.getElementById("ProjectType").value,
                    ProjectTitle: document.getElementById("ProjectTitle").value,
                    CheckDate: document.getElementById("CheckDate").value,
                    CheckNumber: document.getElementById("CheckNumber").value,
                    CheckAmount: parseFloat((document.getElementById("CheckAmount").value).replace("$", "").replace(",", "")).toFixed(2),
                    DocumentNumber: document.getElementById("DocumentNumber").value,
                    Comments: document.getElementById("txtComments").value,
                },
            };

            $.ajax({
                url: "/CostReportPayment/SaveCostReportPayment",
                type: "POST",
                data: costReportPaymentRequest,
                dataType: 'json',
                success: function (result) {
                    location.href = "/CostReportPayment/CostReportPayments";
                },
                complete: function () {

                }
            });
            return true;
        }

        $(document).ready(function () {
            $('#mra_subli2').addClass('active');
        });
    </script>
}