@model DHSEntities.CostReportInvoiceResponse
@{
    ViewBag.Title = "Cost Report Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}

@Html.HiddenFor(m => m.costReportInvoiceEntity.InvoiceId, htmlAttributes: new { @id = "InvoiceID" })
<div class="tab-pane active" id="dashboard">
    <div class="container-fluid">
        <!-- top tiles -->
        <div class="mrp_content">
            <h2>Invoice Information</h2>


            <div class="row mra_edit-view">

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Fiscal&nbsp;Period</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <lable id="lbFacilityCharges">@Model.costReportInvoiceEntity.FiscalPeriodName</lable>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Reporting&nbsp;Facility</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p><lable id="lbFacilityCharges">@Model.costReportInvoiceEntity.FacilityName</lable></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Unique&nbsp;Invoice</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.UniqueInvoice</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Invoice&nbsp;Number </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.InvoiceNumber</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Document&nbsp;Number</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.DocumentNumber</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Issue&nbsp;Type</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.IssueType</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Payment&nbsp;Type</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.PaymentTypes</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Invoice&nbsp;Type</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.InvoiceType</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label> Invoice&nbsp;Date</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.InvoiceDate</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Calculated&nbsp;Share</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.CalculatedShare</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Vendor&nbsp;Total&nbsp;Charges</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p> @String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorTotalCharges)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>DHS&nbsp;Approved&nbsp;Federal Match,&nbsp;%</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.DHSApprovedFederalMatchPercentage</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Vendor&nbsp;Deductible</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorDeductible)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>DHS&nbsp;Approved&nbsp;Federal&nbsp;Match&nbsp;$</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedFederalMatch)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>DHS&nbsp;Approved Deductible</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedDeductible)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>DHS&nbsp;Approved Local&nbsp;Match&nbsp;%</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.DHSApprovedLocalMatchPercentage</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Vendor&nbsp;Days</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.VendorDays</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>DHS&nbsp;Approved Local&nbsp;Match&nbsp;$</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedLocalMatch)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>DHS&nbsp;Approved Days</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.DHSApprovedDays</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Calculated&nbsp;Inpatient days</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.CalculatedInPatientDays</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Vendor&nbsp;Billed Amount</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.VendorAllowableAmount)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Calculated&nbsp;Outpatient Days</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>  @Model.costReportInvoiceEntity.CalculatedOutPatientDays</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>DHS&nbsp;Approved Allowable&nbsp;Amount</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.DHSApprovedAllowableAmount)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Per&nbsp;Diem Rate&nbsp;Used </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.PerdiemRateUsed</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>DHS&nbsp;Federal Match</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>@Model.costReportInvoiceEntity.RuleName</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Correct&nbsp;Per Diem&nbsp;Rate</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <p>  @Model.costReportInvoiceEntity.CorrectPerdiemRate</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form_modal mra_note">
                        <label><span class="red">Notes:</span></label>
                        <p>@Model.costReportInvoiceEntity.Notes</p>
                    </div>
                    <hr />
                    <h2>Payment Information</h2>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Vendor</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.DropDownList("VendorId", new SelectList(Model.vendors, "VendorId", "VendorName", Model.costReportInvoiceEntity.VendorId), "", new { @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Purchase Order</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.PurchaseOrder, htmlAttributes: new { @id = "PurchaseOrder", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label> Invoice (Payment) Amount</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.InvoicePaymentAmount, htmlAttributes: new { @id = "InvoicePaymentAmount", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.InvoicePaymentAmount), @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Org</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.Org, htmlAttributes: new { @id = "Org", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Object</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.Object, htmlAttributes: new { @id = "Object", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Project</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.Project, htmlAttributes: new { @id = "Project", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Project Type</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.ProjectType, htmlAttributes: new { @id = "ProjectType", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Project Title</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.ProjectTitle, htmlAttributes: new { @id = "ProjectTitle", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Check Date</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.CheckDate, htmlAttributes: new { @id = "CheckDate", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Check Number</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.CheckNumber, htmlAttributes: new { @id = "CheckNumber", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                <label>Check Amount</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.costReportInvoiceEntity.CheckAmount, htmlAttributes: new { @id = "CheckAmount", Value = String.Format("{0:$#,##0.00}", Model.costReportInvoiceEntity.CheckAmount), @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <label><span class="red">Reviewer Comments:</span></label><br />
                        &nbsp;<textarea id="txtComments" class="form-control mrp_modalselect" name="txtComments" style="margin: 0px; width: 600px; height: 60px;">@Model.costReportInvoiceEntity.Comments</textarea>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                        <input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
