@model DHSEntities.ExpenseResponse
@{
    ViewBag.Title = "View Transaction Details";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ExpenseModalLabel">
                View Revenue Transaction Information
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="mrp_modalcontent">
                <form class="mrp_selectdetails form-inline" id="frmExpensesTransaction" method="post">
                    <div class="row">
                    
                    </div>
                </form>
                <div class="row mrp_table-row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="table-responsive">
                            <div class="mrp_contentbody mrp_contenttable">
                                <div class="mrp_table">

                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr><td colspan="12" style="text-align:right;"><input type="button" class="btn btn-primary btn-updated" onclick="LinkToRevenueTransaction()" value=" Link " /></td></tr>
                                            <tr>
                                                <th style="margin-left:1px; margin-right:1px;">
                                                    Link
                                                </th>
                                                <th nowrap>
                                                    Transaction No
                                                </th>
                                                <th nowrap>
                                                    Transaction Date
                                                </th>
                                                <th nowrap>
                                                    Revenue Trans Amount
                                                </th>
                                                <th nowrap>
                                                    Org
                                                </th>
                                                <th nowrap>
                                                    Object
                                                </th>
                                                <th nowrap>
                                                    Project
                                                </th>
                                                <th nowrap>
                                                    Revenue Type
                                                </th>
                                                <th nowrap>
                                                    Draw No
                                                </th>
                                                <th nowrap>
                                                    Batch Number
                                                </th>
                                                <th nowrap>
                                                    Draw Amount
                                                </th>
                                                <th nowrap>
                                                    Draw Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="transcontenth">
                                            @{
                                                foreach (var item in Model.revenueTransactionEntities)
                                                {
                                                    var itemTN = "TN" + @item.RevenueTransactionId;
                                                    var itemTD = "TD" + @item.RevenueTransactionId;
                                                    var itemTA = "TA" + @item.RevenueTransactionId;
                                                    var itemPN = "PN" + @item.RevenueTransactionId;
                                                    <tr>
                                                        <td>
                                                            @if (item.RevenueTypeName == "Draw Deposit")
                                                            {
                                                                <input type="radio" id="RevenueTransactionId" name="RevenueTransaction" value="@item.RevenueTransactionId" />
                                                            }
                                                        </td>
                                                        <td>
                                                            @item.RevenueTransactionNumber
                                                            <input type="hidden" id="@itemTN" name="@itemTN" value="@item.RevenueTransactionNumber" />
                                                        </td>
                                                        <td>
                                                            @item.RevenueTransactionDate
                                                            <input type="hidden" id="@itemTD" name="@itemTD" value="@item.RevenueTransactionDate" />
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:$#,##0.00}", item.RevenueTransactionAmount)
                                                            <input type="hidden" id="@itemTA" name="@itemTA" value="@String.Format("{0:$#,##0.00}", item.RevenueTransactionAmount)" />
                                                        </td>
                                                        <td>
                                                            @item.OrgName
                                                        </td>
                                                        <td>
                                                            @item.ObjectName
                                                        </td>
                                                        <td>
                                                            @item.ProjectName
                                                            <input type="hidden" id="@itemPN" name="@itemPN" value="@item.ProjectName" />
                                                        </td>
                                                        <td>
                                                            @item.RevenueTypeName
                                                        </td>
                                                        <td>
                                                            @item.DrawNumber
                                                        </td>
                                                        <td>
                                                            @item.BatchNumber
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:$#,##0.00}", item.DrawAmount)
                                                        </td>
                                                        <td>@item.DrawDate</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <!-- popup -->
                                    <div class="modal fade mrp_modalpopup" id="RevenueTransactionModal">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /top tiles -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    function SelectedIndexChanged() {
        var expenseRequest = {
            transactionDetailEntity:
            {
                ExpenseId: 0,
                ProjectId: document.getElementById("ProjectId").value
            },
        };

        $.ajax({
            url: "/Expense/GetRevenueTransactionByExpenseId",
            type: "POST",
            data: expenseRequest,
            dataType: 'json',
            success: function (data) {
                var s = '';
                let dollarUS = Intl.NumberFormat("en-US", {
                    style: "currency",
                    currency: "USD",
                });
                $("#transcontenth").html(s)
                //write code to display the html content
                for (var i = 0; i < data.revenueTransactionEntities.length; i++) {
                    var item = data.revenueTransactionEntities[i];
                    var itemTN = "TN" + data.revenueTransactionEntities[i].RevenueTransactionId;
                    var itemTD = "TD" + data.revenueTransactionEntities[i].RevenueTransactionId;
                    var itemTA = "TA" + data.revenueTransactionEntities[i].RevenueTransactionId;
                    var itemPN = "PN" + data.revenueTransactionEntities[i].RevenueTransactionId;
                    s += '<tr><td nowrap>';
                    if (item.RevenueTypeName == "Draw Deposit")
                    {
                        s+= '<input type="radio" id="RevenueTransactionId" name="RevenueTransaction" value="' + item.RevenueTransactionId + '" />';
                    }
                    s += '</td>';
                    s += '<td nowrap>'+item.RevenueTransactionNumber +'<input type="hidden" id="' + itemTN + '" name="' + itemTN + '" value="' + item.RevenueTransactionNumber + '" /></td>';
                    s += '<td nowrap>' + item.RevenueTransactionDate + '<input type="hidden" id="' + itemTD + '" name="' + itemTD + '" value="' + item.RevenueTransactionDate + '" /></td>';
                    s += '<td nowrap>' + dollarUS.format(item.RevenueTransactionAmount) + '<input type="hidden" id="' + itemTA + '" name="' + itemTA + '" value="' + dollarUS.format(item.RevenueTransactionAmount) + '" /></td>';
                    s += '<td nowrap>' + item.OrgName + '</td>';
                    s += '<td nowrap>' + item.ObjectName + '</td>';
                    s += '<td nowrap>' + item.ProjectName + '<input type="hidden" id="' + itemPN + '" name="' + itemPN + '" value="' + item.ProjectName + '" /></td>';
                    s += '<td nowrap>' + item.RevenueTypeName + '</td>';
                    s += '<td nowrap>' + item.DrawNumber + '</td>';
                    s += '<td nowrap>' + item.BatchNumber + '</td>';
                    s += '<td nowrap>' + dollarUS.format(item.DrawAmount) + '</td>';
                    s += '<td nowrap>' + item.DrawDate + '</td>';
                    s += '</tr > ';
                }
                $("#transcontenth").html(s)
            },
            complete: function () {

            }
        });
    }
</script>