@model DHSEntities.ExpenseResponse
@using DHS.Reconcilation.Models
@{
    ViewBag.Title = "View Transaction Details";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ExpenseModalLabel">
                Link From Imported  Records Information
            </h5>
            <input type="hidden" id="hdnExpenseIdL" value="@Model.expenseEntity.ExpenseId" />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-footer mra_edit_footer">
                <a href="Javascript:void()" title="Save" onclick="return LinkToExpenseTransaction()" id="btnSubmit" class="mra_edit_save">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="modal-body">
            <div class="mrp_modalcontent">
                <form class="mrp_selectdetails form-inline" id="frmExpensesTransaction" method="post">
                    <div class="row">
                        <div class="form-group col-lg-2 col-xs-12 col-sm-6">
                            <label for="SearchOn">Start&nbsp;Date:</label>
                            <input type="date" id="StartDate" name="StartDate" class="form-control mrp_modalselect" />
                        </div>
                        <div class="form-group col-lg-2 col-xs-12 col-sm-5">
                            <label for="SearchOn">End&nbsp;Date:</label>
                            <input type="date" id="EndDate" name="EndDate" class="form-control mrp_modalselect" />
                        </div>
                        <div class="form-group col-lg-2 col-xs-12 col-sm-5">
                            <label for="SearchOn">Amount:</label>
                            <input type="number" id="GrossAmount" name="GrossAmount" class="form-control mrp_modalselect" />
                        </div>
                        <div class="form-group col-lg-2 col-xs-12 col-sm-7">
                            <label for="SearchOn">Period:</label>
                            <div class="form_modal">
                                @Html.DropDownList("PeriodId", new SelectList(Model.periodEntities, "PeriodId", "PeriodName", ""), "", new { @id = "PeriodId", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                        <div class="form-group col-lg-2 col-xs-12 col-sm-6">
                            <label for="SearchOn">Org:</label>
                            <div class="form_modal">
                                @Html.DropDownList("OrgId", new SelectList(Model.orgEntities, "OrgId", "OrgName", ""), "", new { @id = "OrgId", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>

                        <div class="form-group col-lg-2 col-xs-12 col-sm-5">
                            <label for="SearchOn">Object:</label>
                            <div class="form_modal">
                                @Html.DropDownList("ObjectId", new SelectList(Model.objectEntities, "ObjectId", "ObjectName", ""), "", new { @id = "ObjectId", @class = "form-control mrp_modalselect" })
                            </div>
                        </div>
                        <div class="form-group col-lg-2 col-xs-12 col-sm-7">
                            <label for="SearchOn">Project:</label>
                            <div class="form_modal">
                                @Html.DropDownList("ProjectId", new SelectList(Model.projectEntities, "ProjectId", "ProjectName", ""), "", new { @id = "ProjectId", @class = "form-control mrp_modalselect" })
                            </div>
                            <div class="form_modal">
                                @if (Model.rolePermissionEntity.ViewBit)
                                {
                                    <img src="~/images/search.png" class="img-responsive" height="40" width="40" onclick="SelectedIndexChanged()" style="cursor:pointer;" alt="Search Expense Information" />
                                }
                                else
                                {
                                    <img src="~/images/search.png" class="disableButton" height="40" width="40" alt="Search Expense Information" />
                                }
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">


                    <div class="row mrp_table-row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="table-responsive">
                                <div class="mrp_contentbody mrp_contenttable">
                                    <div class="mrp_table">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="margin-left:1px; margin-right:1px;">
                                                        Action
                                                    </th>
                                                    <th nowrap>
                                                        Period
                                                    </th>
                                                    <th nowrap>
                                                        Fiscal Year
                                                    </th>
                                                    <th nowrap>
                                                        Journal
                                                    </th>
                                                    <th nowrap>
                                                        Source
                                                    </th>
                                                    <th nowrap>
                                                        Fund
                                                    </th>
                                                    <th nowrap>
                                                        Org
                                                    </th>
                                                    <th nowrap>
                                                        Object
                                                    </th>
                                                    <th nowrap>
                                                        Project
                                                    </th>
                                                    <th nowrap>
                                                        Reference 1
                                                    </th>
                                                    <th nowrap>
                                                        Reference 2
                                                    </th>
                                                    <th nowrap>
                                                        Reference 3
                                                    </th>
                                                    <th nowrap>
                                                        Reference 4
                                                    </th>
                                                    <th nowrap>
                                                        Net Amount
                                                    </th>
                                                    <th nowrap>
                                                        Effective Date
                                                    </th>
                                                    <th nowrap style="text-align:left">
                                                        Notes
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="transcontent">
                                                @{foreach (var item in Model.expenseEntities)
                                                    {
                                                        <tr>
                                                            <td nowrap>
                                                                <input type="checkbox" id="ExpenseTransactionDetailId" name="ExpenseTransactionDetail" value="@item.ExpenseTransactionDetailId" />
                                                            </td>
                                                            <td nowrap>
                                                                @item.PeriodName
                                                            </td>
                                                            <td nowrap>
                                                                @item.FiscalYear
                                                            </td>
                                                            <td nowrap>
                                                                @item.Journal
                                                            </td>
                                                            <td nowrap>
                                                                @item.SourceName
                                                            </td>
                                                            <td>
                                                                @item.Fund
                                                            </td>
                                                            <td>
                                                                @item.OrgName
                                                            </td>
                                                            <td nowrap>
                                                                @item.ObjectName
                                                            </td>
                                                            <td nowrap>
                                                                @item.ProjectName
                                                            </td>
                                                            <td nowrap>
                                                                @item.Reference1
                                                            </td>
                                                            <td nowrap>
                                                                @item.Reference2
                                                            </td>
                                                            <td nowrap>
                                                                @item.Reference3
                                                            </td>
                                                            <td nowrap>
                                                                @item.Reference4
                                                            </td>
                                                            <td nowrap>
                                                                @string.Format("{0:C}", item.NetAmount)
                                                            </td>
                                                            <td nowrap>
                                                                @item.ExpenseDate
                                                            </td>
                                                            <td nowrap style="text-align:left">
                                                                @item.Notes
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <!-- /top tiles -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">

    function LinkToExpenseTransaction() {
        var getSelectedValue = document.querySelector(
            'input[name="ExpenseTransactionDetail"]:checked');

        var arr = [];
        var expenseEntity;
        for (x = 0; x < document.getElementsByTagName('input').length; x++) {
            if (document.getElementsByTagName('input').item(x).type == 'checkbox' && document.getElementsByTagName('input').item(x).checked) {
                expenseEntity = 
                {
                    ExpenseId: document.getElementById("hdnExpenseIdL").value,
                    ExpenseTransactionDetailId: document.getElementsByTagName('input').item(x).value,
                    CreatedBy: @Common.GetSession("UserID"),
                }
                arr.push(expenseEntity);
            }
        }

        if (arr.length > 0) {
            var expenseRequest = {
                expenseEntities: arr,
            };

            $.ajax({
                url: "/Expense/SaveLinkToExpenseTransaction",
                type: "POST",
                data: expenseRequest,
                dataType: 'json',
                success: function (result) {
                    location.href = "/Expense/ManageTransactionDetails/" + document.getElementById("hdnExpenseIdL").value;
                },
                complete: function () {

                }
            });
        }
        else {
            alert("Please select expense transaction record to link.")
        }
    }

    function SelectedIndexChanged() {
        var expenseRequest = {
                expenseEntity:
                {
                ExpenseId: 0,
                ProjectId: document.getElementById("ProjectId").value,
                PeriodId: document.getElementById("PeriodId").value,
                OrgId: document.getElementById("OrgId").value,
                ObjectId: document.getElementById("ObjectId").value,
                StartDate: document.getElementById("StartDate").value,
                EndDate: document.getElementById("EndDate").value,
                NetAmount: document.getElementById("GrossAmount").value,

                },
            };

            $.ajax({
                url: "/Expense/GetExpenseTransactions",
                type: "POST",
                data: expenseRequest,
                dataType: 'json',
                success: function (data) {
                    var s = '';
                    let dollarUS = Intl.NumberFormat("en-US", {
                        style: "currency",
                        currency: "USD",
                    });
                    $("#transcontent").html(s)
                    //write code to display the html content
                    for (var i = 0; i < data.expenseEntities.length; i++) {
                        s += '<tr><td nowrap><input type="checkbox" id="ExpenseTransactionDetailId" value="' + data.expenseEntities[i].ExpenseTransactionDetailId + '" /></td>';
                        s += '<td nowrap>' + data.expenseEntities[i].PeriodName + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].FiscalYear + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].Journal + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].SourceName + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].Fund + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].OrgName + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].ObjectName + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].ProjectName + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].Reference1 + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].Reference2 + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].Reference3 + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].Reference4 + '</td>';
                        s += '<td nowrap>' + dollarUS.format(data.expenseEntities[i].NetAmount) + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].ExpenseDate + '</td>';
                        s += '<td nowrap>' + data.expenseEntities[i].Notes + '</td>';
                        s += '</tr > ';
                    }
                    $("#transcontent").html(s)
                },
                complete: function () {

                }
            });
    }

</script>