@model DHSEntities.ExpenseResponse
@{
    ViewBag.Title = "View Transaction Details";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ExpenseModalLabel">
                View Transaction Detail Information
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>@if (Model.rolePermissionEntity.EditBit)
            {

                <span class="mrp_modaledit"> <strong><a href="Javascript:void()" onclick="EditTransactionDetail('@Model.transactionDetailEntity.TransactionDetailId')" title="Edit"><i class="fa fa-pencil" aria-hidden="true" onclick="EditTransactionDetail('@Model.transactionDetailEntity.TransactionDetailId')"></i></a></strong></span>}
        </div>
        <div class="modal-body">
            <div class="mrp_modalcontent">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Transaction&nbsp;Number</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransactionNumber, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Transaction&nbsp;Details&nbsp;Date</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransactionDate, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Transaction&nbsp;Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.TransactionAmount)" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>FGT&nbsp;Category&nbsp;1</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.FGTCategoryName1, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>FGT&nbsp;Category&nbsp;2</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.FGTCategoryName2, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Purpose</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@Model.transactionDetailEntity.VendorAdjustments" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        string RevenueInfo = string.Empty;
                        RevenueInfo = Model.transactionDetailEntity.RevenueTransactionNumber + " - " + Model.transactionDetailEntity.RevenueTransactionDate + " - " + String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.RevenueTransactionAmount) + " - " + Model.transactionDetailEntity.RevenueProjectName;
                    }
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Transaction</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@RevenueInfo" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Vendor&nbsp;Name</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@Model.transactionDetailEntity.VendorName" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Notes</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <textarea id="TransactionDescription" name="TransactionDescription" disabled="disabled" style="margin: 0px; width:100%; height: 120px;">@Model.transactionDetailEntity.TransactionDescription</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>