@model DHSEntities.ExpenseResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application :: Create Expense Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>@ViewBag.Title</title>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}

@using (Html.BeginForm("CreateTransactionDetail", "Expense", FormMethod.Post, new { @id = "frmExpense" }))
{
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-lg-10">
                    <div class="mrp_content">
                        <h2>View Expense Information</h2>
                        <form class="mrp_selectdetails form-inline">
                        </form>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-1">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Period</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.PeriodName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Fiscal&nbsp;Year</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.FiscalYear, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Expense&nbsp;No</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ExpenseNumber, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Source</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.SourceName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Journal</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Journal, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Function </label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.FunctionName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Department</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.DepartmentName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Activity</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ActivityName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Org</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.OrgName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Object</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ObjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Fund</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Fund, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Project</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ProjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;1</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference1, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;2</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference2, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;3</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference3, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;4</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference4, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Net&nbsp;Amount</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                <input type="text" disabled="disabled" value="@String.Format("{0:$#,##0.00}", Model.expenseEntity.NetAmount)" class="form-control mrp_modalselect" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Status</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.StatusName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Assigned&nbsp;To</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.AssignedToUser, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Revenue&nbsp;No</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @if (Model.expenseEntity.RevenueNumber != String.Empty)
                                {
                                    <label>
                                        <a class="img-responsive" onclick="ViewRevenue('@Model.expenseEntity.RevenueId')" style="cursor:pointer;">
                                            @Model.expenseEntity.RevenueNumber
                                        </a>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <img src="~/images/linking.png" class="img-responsive" onclick="LinkToRevenue('@Model.expenseEntity.ExpenseId')" style="cursor:pointer;" alt="Linking to Revenue" width="30" height="30" />
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-1 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Notes</label>
                            </div>
                        </div>
                        <div class="col-lg-7 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                <label>@Model.expenseEntity.Notes</label>
                                @*<textarea id="Notes" name="Notes" disabled="disabled" style="margin: 0px; width:100%; height: 120px;">@Model.expenseEntity.Notes</textarea>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- top tiles -->
            <div class="mrp_content">
                <h2>Adding Transaction Detail</h2>
                <input type="hidden" id="ExpenseId" name="ExpenseId" value="@Model.transactionDetailEntity.ExpenseId" />
                <input type="hidden" id="TransactionDetailId" name="TransactionDetailId" value="@Model.transactionDetailEntity.TransactionDetailId" />
                <div class="row mra_createcost_report_payment">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Transaction Detail Date</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @if (Model.transactionDetailEntity.TransactionDetailId > 0)
                                    {
                                        @Html.TextBoxFor(m => m.transactionDetailEntity.TransactionDate, htmlAttributes: new { @id = "TransactionDate", @class = "form-control mrp_modalselect" })
                                    }
                                    else
                                    {
                                        <input type="date" value="@Model.transactionDetailEntity.TransactionDate" id="TransactionDate" , class="form-control mrp_modalselect" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Transaction Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransactionAmount, htmlAttributes: new { @id = "TransactionAmount", Value = String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.TransactionAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>FGT Category 1</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("FGTCategoryId1", new SelectList(Model.fgtCategoryEntities, "FGTCategoryId", "FGTCategoryName", Model.transactionDetailEntity.FGTCategoryId1), "", new { @id = "FGTCategoryId1", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>FGT Category 2</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("FGTCategoryId2", new SelectList(Model.fgtCategoryEntities2, "FGTCategoryId", "FGTCategoryName", Model.transactionDetailEntity.FGTCategoryId2), "", new { @id = "FGTCategoryId2", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Purpose</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.VendorAdjustments, htmlAttributes: new { @id = "VendorAdjustments", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        string CRevenueInfo = string.Empty;
                        CRevenueInfo = Model.transactionDetailEntity.RevenueTransactionNumber + " - " + Model.transactionDetailEntity.RevenueTransactionDate + " - " + String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.RevenueTransactionAmount) + " - " + Model.transactionDetailEntity.RevenueProjectName + " - " + Model.transactionDetailEntity.BatchNumber + " - " + String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.DrawAmount) + " - " + Model.transactionDetailEntity.DrawDate;
                    }
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Transaction</label>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xs-12 col-sm-8 col-md-8">
                                <div class="form-group">
                                    <input type="hidden" id="hdnRevenueTransactionId" name="hdnRevenueTransactionId" value="@Model.transactionDetailEntity.DrawId" />
                                    <input type="text" readonly id="RevenueTransaction" value="@CRevenueInfo" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-xs-12 col-sm-8 col-md-8">
                                <img src="~/images/linking.png" class="img-responsive" onclick="ViewRevenueTransaction('@Model.transactionDetailEntity.ExpenseId')" style="cursor:pointer;" alt="Linking to Revenue" height="20" width="20" />
                                @if (Model.transactionDetailEntity.TransactionDetailId > 0)
                                {
                                    <img src="~/images/Delete.png" class="img-responsive" onclick="RemoveRevenueTransaction()" style="cursor:pointer;" alt="Remove Link between Expense Transaction to Revenue Transaction" height="20" width="20" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Vendor</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("VendorId", new SelectList(Model.vendorEntities, "VendorId", "VendorName", Model.transactionDetailEntity.VendorId), "", new { @id = "VendorId", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-4 col-md-2">
                        <div class="form_modal">
                            <label>Notes</label>
                        </div>
                    </div>
                    <div class="col-lg-10 col-xs-12 col-sm-8 col-md-10">
                        <div class="form_modal">
                            <textarea id="TransactionDescription" name="TransactionDescription" style="margin: 0px; width: 100%; height: 80px;">@Model.transactionDetailEntity.TransactionDescription</textarea>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />

                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal" onclick="OpenExpenseDocuments()">Cancel</button>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>Transaction Detail Information</h2>
                        <form class="mrp_selectdetails form-inline">
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <th style="margin-left:1px; margin-right:1px;">
                                                Action
                                            </th>
                                            <th nowrap>
                                                Transaction No
                                            </th>
                                            <th nowrap>
                                                Transaction Date
                                            </th>
                                            <th nowrap>
                                                Transaction Amount
                                            </th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                CFDA
                                            </th>
                                            <th nowrap>
                                                Category 1
                                            </th>
                                            <th nowrap>
                                                Category 2
                                            </th>
                                            <th nowrap>
                                                Purpose
                                            </th>
                                            <th nowrap>
                                                Revenue Transaction
                                            </th>
                                            <th nowrap>
                                                Vendor Name
                                            </th>
                                            <th nowrap style="text-align:left">
                                                Notes
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            decimal Total = 0;
                                            string RevenueInfo = string.Empty;
                                            foreach (var item in Model.transactionDetailEntities)
                                            {
                                                Total = Total + item.TransactionAmount;
                                                RevenueInfo = item.RevenueTransactionNumber + " - " + item.RevenueTransactionDate + " - " + String.Format("{0:$#,##0.00}", item.RevenueTransactionAmount) + " - " + item.RevenueProjectName + " - " + item.BatchNumber + " - " + String.Format("{0:$#,##0.00}", item.DrawAmount) + " - " + item.DrawDate;
                                                <tr>
                                                    <td nowrap>
                                                        @if (Model.rolePermissionEntity.ViewBit)
                                                        {
                                                            <img src="~/images/view-icon.png" class="img-responsive" style="cursor:pointer;" alt="View Expense Information" onclick="ViewTransactionDetail('@item.TransactionDetailId')" />
                                                        }
                                                        else
                                                        {
                                                            <a class="mrp_popup disableButton" data-toggle="modal">
                                                                <img src="~/images/view-icon.png" class="img-responsive disableButton" />
                                                            </a>
                                                        }
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransactionNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransactionDate
                                                    </td>
                                                    <td nowrap>
                                                        @String.Format("{0:$#,##0.00}", item.TransactionAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.OrgName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ObjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.CFDA
                                                    </td>
                                                    <td nowrap>
                                                        @item.FGTCategoryName1
                                                    </td>
                                                    <td nowrap>
                                                        @item.FGTCategoryName2
                                                    </td>
                                                    <td nowrap>
                                                        @item.VendorAdjustments
                                                    </td>
                                                    @if (item.RevenueTransactionNumber != "")
                                                    {
                                                        <td nowrap>@RevenueInfo</td>
                                                    }
                                                    else
                                                    {
                                                        <td nowrap>&nbsp;</td>
                                                    }
                                                    <td nowrap>
                                                        @item.VendorName
                                                    </td>
                                                    <td style="text-align:left;" nowrap>
                                                        @item.TransactionDescription
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.transactionDetailEntities.Count > 0)
                                            {
                                                <tr>
                                                    <td colspan="3" style="text-align:right"><b>Total: </b></td>
                                                    <td><b>@String.Format("{0:$#,##0.00}", Total)</b></td>
                                                    <td colspan="8" style="text-align:right"></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- popup -->
                                <div class="modal fade mrp_modalpopup" id="TransactionDetailModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>

            <!-- popup -->
            <div class="modal fade mrp_modalpopup" id="TransactionDetailModal">
            </div>

        </div>
    </div>




    <script type="text/javascript">
        function SubmitValue() {
            if (document.getElementById("TransactionDate").value == "") {
                alert("Please enter transaction date.")
                document.getElementById("TransactionDate").focus();
                return false;
            }
            if (document.getElementById("FGTCategoryId1").value == "") {
                alert("Please select fgt category.")
                document.getElementById("FGTCategoryId1").focus();
                return false;
            }
            if (document.getElementById("FGTCategoryId2").value == "") {
                alert("Please select fgt category.")
                document.getElementById("FGTCategoryId2").focus();
                return false;
            }
            var transactionDetailEntity = {
                TransactionDate: document.getElementById("TransactionDate").value,
                ExpenseId: document.getElementById("ExpenseId").value,
                TransactionDetailId: document.getElementById("TransactionDetailId").value,
                FGTCategoryId1: document.getElementById("FGTCategoryId1").value,
                FGTCategoryId2: document.getElementById("FGTCategoryId2").value,
                TransactionDescription: document.getElementById("TransactionDescription").value,
                TransactionAmount: parseFloat((document.getElementById("TransactionAmount").value).replace("$", "").replace(",", "")).toFixed(2),
                VendorAdjustments: document.getElementById("VendorAdjustments").value,
                DrawId: document.getElementById("hdnRevenueTransactionId").value,
                VendorId: document.getElementById("VendorId").value,
            };
            var expenseRequest = {
                TransactionDetailEntity: transactionDetailEntity
            };
            $.ajax({
                url: "/Expense/SaveTransactionDetail",
                type: "POST",
                data: expenseRequest,
                dataType: 'json',
                success: function (result) {
                    location.href = "/Expense/CreateTransactionDetail/" + document.getElementById("ExpenseId").value;
                },
                complete: function () {

                }
            });
            return true;
        }

        $(document).ready(function () {
            $('#mra_subli1').addClass('active');
        });


        $("#FGTCategoryId1").change(function () {
            var x = $("#FGTCategoryId1").val();
            fire_ajax(x);
        });

        function fire_ajax(s) {
            var fGTCategoryEntity = {
                FGTParentCategoryId: s
            };
            var fGTCategoryRequest = {
                FGTCategoryEntity: fGTCategoryEntity
            };
            $.ajax({
                url: "/FGTCategory/GetFGTCategoriesById",
                type: "POST",
                data: fGTCategoryRequest,
                dataType: 'json',
                success: function (data) {
                    var s = '<option value="-1">Please Select Category</option>';
                    for (var i = 0; i < data.fGTCategoryEntities.length; i++) {
                        s += '<option value="' + data.fGTCategoryEntities[i].FGTCategoryId + '">' + data.fGTCategoryEntities[i].FGTCategoryName + '</option>';
                    }
                    $("#FGTCategoryId2").html(s);
                }

            })
        }



        function OpenExpenseDocuments() {
            document.forms[0].action = "/Expense/ManageTransactionDetails/" + document.getElementById("ExpenseId").value;
            document.forms[0].submit();
        }

        function RemoveRevenueTransaction() {
            document.getElementById("hdnRevenueTransactionId").value = 0;
            document.getElementById("RevenueTransaction").value = "";
        }

        function ViewRevenueTransaction(expenseId) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Expense/RevenueTransaction/" + expenseId,
                dataType: "html",
                success: function (evt) {
                    $('#TransactionDetailModal').html(evt);
                    $('#TransactionDetailModal').modal(options);
                    $('#TransactionDetailModal').modal('show');
                },
                error: function (req, status, error) {
                    alert("Error!Occured");
                }
            });
        }

        function LinkToRevenueTransaction() {
            var getSelectedValue = document.querySelector(
                'input[name="RevenueTransaction"]:checked');
            if (getSelectedValue != null) {
                var RevenueTransactionNumber = document.getElementById("TN" + getSelectedValue.value).value;
                var RevenueTransactionDate = document.getElementById("TD" + getSelectedValue.value).value;
                var RevenueTransactionAmount = document.getElementById("TA" + getSelectedValue.value).value;
                var ProjectName = document.getElementById("PN" + getSelectedValue.value).value;
                var StringF = RevenueTransactionNumber + ' - ' + RevenueTransactionDate + ' - ' + RevenueTransactionAmount + ' - ' + ProjectName;
                document.getElementById("hdnRevenueTransactionId").value = getSelectedValue.value;
                document.getElementById("RevenueTransaction").value = StringF;
                $('#TransactionDetailModal').modal('hide');
            }
            else {
                alert("Please select record to link.")
            }
        }

        function ViewTransactionDetail(expenseId) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Expense/ViewTransactionDetail/" + expenseId,
                dataType: "html",
                success: function (evt) {
                    $('#TransactionDetailModal').html(evt);
                    $('#TransactionDetailModal').modal(options);
                    $('#TransactionDetailModal').modal('show');
                },
                error: function (req, status, error) {
                    alert(error);
                    alert("Error!Occured");
                }
            });
        }

        function EditTransaction(expenseId, TransactionDetailId) {
            $('#TransactionDetailModal').modal('hide');
            var url = "/Expense/CreateTransactionDetail/" + expenseId + "?pid=" + TransactionDetailId;
            location.href = url;
        }


        function EditTransactionDetail(expenseId) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Expense/EditTransactionDetail/" + expenseId, 
                dataType: "html",
                success: function (evt) {
                    $('#TransactionDetailModal').html(evt);
                    $('#TransactionDetailModal').modal(options);
                    $('#TransactionDetailModal').modal('show');
                },
                error: function (req, status, error) {
                    alert("Error!Occured");
                }
            });
        }
    </script>
}