@model DHSEntities.ExpenseResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application :: Create Expense Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>@ViewBag.Title</title>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}

@using (Html.BeginForm("CreateTransactionDetail", "Expense", FormMethod.Post, new { @id = "frmExpense" }))
{
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-lg-10">
                    <div class="mrp_content">
                        <h2>View Expense Information</h2>
                        <form class="mrp_selectdetails form-inline">
                        </form>
                    </div>
                </div>
                <div class="col-lg-1">
                   
                </div>
                <div class="col-lg-1">
                    
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Period</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.PeriodName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Fiscal&nbsp;Year</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.FiscalYear, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Expense&nbsp;No</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ExpenseNumber, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Source</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.SourceName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Journal</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Journal, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Function </label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.FunctionName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Department</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.DepartmentName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Activity</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ActivityName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Org</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.OrgName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Object</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ObjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Fund</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Fund, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Project</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ProjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;1</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference1, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;2</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference2, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;3</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference3, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;4</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference4, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Net&nbsp;Amount</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                <input type="text" disabled="disabled" value="@String.Format("{0:$#,##0.00}", Model.expenseEntity.NetAmount)" class="form-control mrp_modalselect" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Status</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.StatusName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Assigned&nbsp;To</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.AssignedToUser, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Revenue&nbsp;No</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @if (Model.expenseEntity.RevenueNumber != String.Empty)
                                {
                                    <label>
                                        <a class="img-responsive" onclick="ViewRevenue('@Model.expenseEntity.RevenueId')" style="cursor:pointer;">
                                            @Model.expenseEntity.RevenueNumber
                                        </a>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <img src="~/images/linking.png" class="img-responsive" onclick="LinkToRevenue('@Model.expenseEntity.ExpenseId')" style="cursor:pointer;" alt="Linking to Revenue" width="30" height="30" />
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-1 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Notes</label>
                            </div>
                        </div>
                        <div class="col-lg-7 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                <textarea id="Notes" name="Notes" disabled="disabled" style="margin: 0px; width:100%; height: 120px;">@Model.expenseEntity.Notes</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- top tiles -->
            <div class="mrp_content">
                <h2>Transaction Detail Information</h2>
                <input type="hidden" id="ExpenseId" name="ExpenseId" value="@Model.transactionDetailEntity.ExpenseId" />
                <div class="row mra_createcost_report_payment">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Transaction Detail Date</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    <input type="date" value="@Model.transactionDetailEntity.TransactionDate" id="TransactionDate" , class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Transaction Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransactionAmount, htmlAttributes: new { @id = "TransactionAmount", Value = String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.TransactionAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>FGT Category 1</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("FGTCategoryId1", new SelectList(Model.fgtCategoryEntities, "FGTCategoryId", "FGTCategoryName", Model.expenseEntity.FGTCategoryId1), "", new { @id = "FGTCategoryId1", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>FGT Category 2</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    <select id="FGTCategoryId2" name="FGTCategoryId2" class="form-control mrp_modalselect">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Purpose</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.VendorAdjustments, htmlAttributes: new { @id = "VendorAdjustments", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Draw</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("DrawId", new SelectList(Model.drawEntities, "DrawId", "DrawNumber", Model.transactionDetailEntity.DrawId), "", new { @id = "DrawId", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-4 col-md-2">
                        <div class="form_modal">
                            <label>Notes</label>
                        </div>
                    </div>
                    <div class="col-lg-10 col-xs-12 col-sm-8 col-md-10">
                        <div class="form_modal">
                            <textarea id="TransactionDescription" name="TransactionDescription" style="margin: 0px; width: 100%; height: 80px;">@Model.transactionDetailEntity.TransactionDescription</textarea>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />

                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal" onclick="OpenExpenseDocuments()">Cancel</button>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">
        function SubmitValue() {

            if (document.getElementById("TransactionDate").value == "") {
                alert("Please enter transaction date.")
                document.getElementById("TransactionDate").focus();
                return false;
            }
            if (document.getElementById("FGTCategoryId1").value == "") {
                alert("Please select fgt category.")
                document.getElementById("FGTCategoryId1").focus();
                return false;
            }
            if (document.getElementById("FGTCategoryId2").value == "") {
                alert("Please select fgt category.")
                document.getElementById("FGTCategoryId2").focus();
                return false;
            }
            var transactionDetailEntity = {
                TransactionDate: document.getElementById("TransactionDate").value,
                ExpenseId: document.getElementById("ExpenseId").value,
                FGTCategoryId1: document.getElementById("FGTCategoryId1").value,
                FGTCategoryId2: document.getElementById("FGTCategoryId2").value,
                TransactionDescription: document.getElementById("TransactionDescription").value,
                TransactionAmount: parseFloat((document.getElementById("TransactionAmount").value).replace("$", "").replace(",", "")).toFixed(2),
                VendorAdjustments: document.getElementById("VendorAdjustments").value,
                DrawId: document.getElementById("DrawId").value,
            };
            var expenseRequest = {
                TransactionDetailEntity: transactionDetailEntity
            };
            $.ajax({
                url: "/Expense/SaveTransactionDetail",
                type: "POST",
                data: expenseRequest,
                dataType: 'json',
                success: function (result) {
                    location.href = "/Expense/ManageTransactionDetails/" + document.getElementById("ExpenseId").value;
                },
                complete: function () {

                }
            });
            return true;
        }

        $(document).ready(function () {
            $('#mra_subli1').addClass('active');
        });


        $("#FGTCategoryId1").change(function () {
            var x = $("#FGTCategoryId1").val();
            fire_ajax(x);
        });

        function fire_ajax(s) {
            var fGTCategoryEntity = {
                FGTParentCategoryId: s
            };
            var fGTCategoryRequest = {
                FGTCategoryEntity: fGTCategoryEntity
            };
            $.ajax({
                url: "/FGTCategory/GetFGTCategoriesById",
                type: "POST",
                data: fGTCategoryRequest,
                dataType: 'json',
                success: function (data) {
                    var s = '<option value="-1">Please Select Category</option>';
                    for (var i = 0; i < data.fGTCategoryEntities.length; i++) {
                        s += '<option value="' + data.fGTCategoryEntities[i].FGTCategoryId + '">' + data.fGTCategoryEntities[i].FGTCategoryName + '</option>';
                    }
                    $("#FGTCategoryId2").html(s);
                }

            })
        }



        function OpenExpenseDocuments() {
            document.forms[0].action = "/Expense/ManageTransactionDetails/" + document.getElementById("ExpenseId").value;
            document.forms[0].submit();
        }
    </script>
}