@model DHSEntities.ExpenseResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application :: Create Missing Expense Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>@ViewBag.Title</title>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}

@using (Html.BeginForm("CreateMissingExpenseTransaction", "Expense", FormMethod.Post, new { @id = "frmExpense" }))
{
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
           
            <!-- top tiles -->
            <div class="mrp_content">
                <h2>Adding Missing Expense Transaction Detail</h2>
                
                <div class="row mra_createcost_report_payment">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Fiscal&nbsp;Year</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("FiscalYearId", new SelectList(Model.fiscalYearEntities, "FiscalYearId", "FiscalYear", Model.transactionDetailEntity.FiscalYearId), "", new { @id = "FiscalYearId", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Transaction Detail Date</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    <input type="date" value="@Model.transactionDetailEntity.TransactionDate" id="TransactionDate" , class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Transaction&nbsp;Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransactionAmount, htmlAttributes: new { @id = "TransactionAmount", Value = String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.TransactionAmount), @class = "form-control mrp_modalselect", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Correct Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.CorrectAmount, htmlAttributes: new { @id = "CorrectAmount", Value = String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.CorrectAmount), @class = "form-control mrp_modalselect", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Related&nbsp;Transaction</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.RelatedTrans, htmlAttributes: new { @id = "RelatedTrans", @class = "form-control mrp_modalselect", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Batch&nbsp;Number</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.OtherBatchNumber, htmlAttributes: new { @id = "OtherBatchNumber", @class = "form-control mrp_modalselect", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Org</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransOrg, htmlAttributes: new { @id = "TransOrg", @class = "form-control mrp_modalselect", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Object</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransObject, htmlAttributes: new { @id = "TransObject", @class = "form-control mrp_modalselect", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Project</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransProject, htmlAttributes: new { @id = "TransProject", @class = "form-control mrp_modalselect", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Source</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.transactionDetailEntity.TransSource, htmlAttributes: new { @id = "TransSource", @class = "form-control mrp_modalselect", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>FGT Category 1</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("FGTCategoryId1", new SelectList(Model.fgtCategoryEntities, "FGTCategoryId", "FGTCategoryName", Model.transactionDetailEntity.FGTCategoryId1), "", new { @id = "FGTCategoryId1", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>FGT Category 2</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("FGTCategoryId2", new SelectList(Model.fgtCategoryEntities2, "FGTCategoryId", "FGTCategoryName", Model.transactionDetailEntity.FGTCategoryId2), "", new { @id = "FGTCategoryId2", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    @{
                        string CRevenueInfo = string.Empty;
                        CRevenueInfo = Model.transactionDetailEntity.RevenueTransactionNumber + " - " + Model.transactionDetailEntity.RevenueTransactionDate + " - " + String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.RevenueTransactionAmount) + " - " + Model.transactionDetailEntity.RevenueProjectName + " - " + Model.transactionDetailEntity.BatchNumber + " - " + String.Format("{0:$#,##0.00}", Model.transactionDetailEntity.DrawAmount) + " - " + Model.transactionDetailEntity.DrawDate;
                    }
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Transaction</label>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xs-12 col-sm-8 col-md-8">
                                <div class="form-group">
                                    <input type="hidden" id="hdnRevenueTransactionId" name="hdnRevenueTransactionId" value="@Model.transactionDetailEntity.DrawId" />
                                    <input type="text" readonly id="RevenueTransaction" value="@CRevenueInfo" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-xs-12 col-sm-8 col-md-8">
                                <img src="~/images/linking.png" class="img-responsive" onclick="ViewRevenueTransaction('@Model.transactionDetailEntity.ExpenseId')" style="cursor:pointer;" alt="Linking to Revenue" height="20" width="20" />
                                @if (Model.transactionDetailEntity.TransactionDetailId > 0)
                                {
                                    <img src="~/images/Delete.png" class="img-responsive" onclick="RemoveRevenueTransaction()" style="cursor:pointer;" alt="Remove Link between Expense Transaction to Revenue Transaction" height="20" width="20" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Vendor</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("VendorId", new SelectList(Model.vendorEntities, "VendorId", "VendorName", Model.transactionDetailEntity.VendorId), "", new { @id = "VendorId", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Status</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("StatusId", new SelectList(Model.statusEntities, "StatusId", "StatusName", Model.transactionDetailEntity.StatusId), "", new { @id = "StatusId", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-4 col-md-2">
                        <div class="form_modal">
                            <label>Notes</label>
                        </div>
                    </div>
                    <div class="col-lg-10 col-xs-12 col-sm-8 col-md-10">
                        <div class="form_modal">
                            <textarea id="TransactionDescription" name="TransactionDescription" style="margin: 0px; width: 100%; height: 80px;">@Model.transactionDetailEntity.TransactionDescription</textarea>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <input type="submit" title="Save missing transaction information" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />

                    <button type="button" title="Cancel saving missing transaction information" class="btn btn-secondary btn-close" data-dismiss="modal" onclick="JavaScript:location.href='/Expense/ManageMissingExpenseTransactions'">Cancel</button>
                </div>
            </div>


            <!-- popup -->
            <div class="modal fade mrp_modalpopup" id="TransactionDetailModal">
            </div>

        </div>
    </div>




    <script type="text/javascript">
        function SubmitValue() {
            var IsRelatedCheck = false;
            if (document.getElementById("TransactionDate").value == "") {
                alert("Please enter transaction date.")
                document.getElementById("TransactionDate").focus();
                return false;
            }
            if (document.getElementById("FGTCategoryId1").value == "") {
                alert("Please select fgt category.")
                document.getElementById("FGTCategoryId1").focus();
                return false;
            }
            if (document.getElementById("FGTCategoryId2").value == "") {
                alert("Please select fgt category.")
                document.getElementById("FGTCategoryId2").focus();
                return false;
            }

            if (document.getElementById("StatusId").value == 11 && document.getElementById("OtherBatchNumber").value =="") {
                alert("Please enter other batch number.");
                document.getElementById("OtherBatchNumber").focus();
                return false;
            }

            if (document.getElementById("RelatedTrans").value != '') {
                var transactionDetailEntity = {
                    TransactionDetailId: document.getElementById("TransactionDetailId").value,
                    RelatedTrans: document.getElementById("RelatedTrans").value,
                };
                var expenseRequest = {
                    TransactionDetailEntity: transactionDetailEntity
                };
                $.ajax({
                    url: "/Expense/CheckRelatedTrans",
                    type: "POST",
                    data: expenseRequest,
                    dataType: 'json',
                    success: function (result) {
                        if (document.getElementById("RelatedTrans").value == result.transactionDetailEntity.TransactionNumber) {
                            IsRelatedCheck = true;
                        }
                        else {
                            alert("Please check the Related Transaction number.");
                            document.getElementById("RelatedTrans").focus();
                            window.location.reload();
                            return false;
                        }
                    }
                });
            }
            else {
                IsRelatedCheck = true;
            }

            if (document.getElementById("OtherBatchNumber").value != '') {
                var transactionDetailEntity = {
                    OtherBatchNumber: document.getElementById("OtherBatchNumber").value,
                };
                var expenseRequest = {
                    TransactionDetailEntity: transactionDetailEntity
                };
                $.ajax({
                    url: "/Expense/CheckBatchNumber",
                    type: "POST",
                    data: expenseRequest,
                    dataType: 'json',
                    success: function (result) {
                        if (document.getElementById("OtherBatchNumber").value == result.transactionDetailEntity.OtherBatchNumber) {
                            IsRelatedCheck = true;
                        }
                        else {
                            alert("Please check the Other Batch number.");
                            document.getElementById("OtherBatchNumber").focus();
                            window.location.reload();
                            return false;
                        }
                    }
                });
            }
            else {
                IsRelatedCheck = true;
            }
            if (IsRelatedCheck)
                SaveTransaction();
            return true;
        }

        function SaveTransaction() {
            var transactionDetailEntity = {
                TransactionDate: document.getElementById("TransactionDate").value,
                TransactionDetailId: 0,
                FGTCategoryId1: document.getElementById("FGTCategoryId1").value,
                FGTCategoryId2: document.getElementById("FGTCategoryId2").value,
                TransactionDescription: document.getElementById("TransactionDescription").value,
                TransactionAmount: parseFloat((document.getElementById("TransactionAmount").value).replace("$", "").replace(",", "")).toFixed(2),
                VendorAdjustments: '',
                DrawId: document.getElementById("hdnRevenueTransactionId").value,
                VendorId: document.getElementById("VendorId").value,
                StatusId: document.getElementById("StatusId").value,
                RelatedTrans: document.getElementById("RelatedTrans").value,
                CorrectAmount: document.getElementById("CorrectAmount").value,
                OtherBatchNumber: document.getElementById("OtherBatchNumber").value,
                TransOrg: document.getElementById("TransOrg").value,
                TransObject: document.getElementById("TransObject").value,
                TransProject: document.getElementById("TransProject").value,
                TransSource: document.getElementById("TransSource").value,
                FiscalYearId: document.getElementById("FiscalYearId").value,
            };
            var expenseRequest = {
                TransactionDetailEntity: transactionDetailEntity
            };
            $.ajax({
                url: "/Expense/SaveMissingExpenseTransaction",
                type: "POST",
                data: expenseRequest,
                dataType: 'json',
                success: function (result) {
                    location.href = "/Expense/ManageMissingExpenseTransactions/";
                },
                complete: function () {

                }
            });
        }

        


        $("#FGTCategoryId1").change(function () {
            var x = $("#FGTCategoryId1").val();
            fire_ajax(x);
        });

        function fire_ajax(s) {
            var fGTCategoryEntity = {
                FGTParentCategoryId: s
            };
            var fGTCategoryRequest = {
                FGTCategoryEntity: fGTCategoryEntity
            };
            $.ajax({
                url: "/FGTCategory/GetFGTCategoriesById",
                type: "POST",
                data: fGTCategoryRequest,
                dataType: 'json',
                success: function (data) {
                    var s = '<option value="-1">Please Select Category</option>';
                    for (var i = 0; i < data.fGTCategoryEntities.length; i++) {
                        s += '<option value="' + data.fGTCategoryEntities[i].FGTCategoryId + '">' + data.fGTCategoryEntities[i].FGTCategoryName + '</option>';
                    }
                    $("#FGTCategoryId2").html(s);
                }

            })
        }


        $(document).ready(function () {
            $('#mra_subliMMET').addClass('active');
        });
    </script>
}