@model DHSEntities.ExpenseResponse

@{
    ViewBag.Title = "DHS Reconcilation :: Expense Linked Revenues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>@ViewBag.Title</title>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}
@using (Html.BeginForm("ExpenseRevenue", "Expense", FormMethod.Post, new { @id = "frmExpenseRevenue" }))
{
    <title>@ViewBag.Title</title>
    <input type="hidden" id="ExpenseId" name="ExpenseId" value="@Model.expenseEntity.ExpenseId"/>
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>Expense Information</h2>
                        <form class="mrp_selectdetails form-inline">
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Period</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.PeriodName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Fiscal&nbsp;Year</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.FiscalYear, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Expense&nbsp;No</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ExpenseNumber, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Source</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.SourceName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Journal</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Journal, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Function </label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.FunctionName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Department</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.DepartmentName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Activity</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ActivityName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Org</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.OrgName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Object</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ObjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Fund</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Fund, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Project</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.ProjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;1</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference1, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;2</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference2, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;3</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference3, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;4</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.Reference4, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Net&nbsp;Amount</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                <input type="text" disabled="disabled" value="@String.Format("{0:$#,##0.00}", Model.expenseEntity.NetAmount)" class="form-control mrp_modalselect" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Status</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.StatusName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Assigned&nbsp;To</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.expenseEntity.AssignedToUser, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-1 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Notes</label>
                            </div>
                        </div>
                        <div class="col-lg-7 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                <textarea id="Notes" name="Notes" disabled="disabled" style="margin: 0px; width:100%; height: 120px;">@Model.expenseEntity.Notes</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2> Related Revenues</h2>
                        <form class="mrp_selectdetails form-inline">
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttableshort">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>

                                        <tr>

                                            <th style="margin-left:1px; margin-right:1px;" nowrap>
                                                D-Link
                                            </th>
                                            <th nowrap>
                                                Period
                                            </th>
                                            <th nowrap>
                                                Revenue Number
                                            </th>
                                            <th nowrap>
                                                Fiscal Year
                                            </th>
                                            @*<th nowrap>
                                        Revenue Date
                                                                            </th>*@
                                            <th nowrap>
                                                Journal
                                            </th>
                                            <th nowrap>
                                                Source
                                            </th>
                                            <th nowrap>
                                                Fund
                                            </th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Function
                                            </th>
                                            <th nowrap>
                                                Function Description
                                            </th>
                                            <th nowrap>
                                                Department
                                            </th>
                                            <th nowrap>
                                                Department Description
                                            </th>
                                            <th nowrap>
                                                Activity
                                            </th>
                                            <th nowrap>
                                                Activity Description
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Object Description
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                Project Title
                                            </th>
                                            <th nowrap>
                                                CFDA
                                            </th>
                                            <th nowrap>
                                                Reference 1
                                            </th>
                                            <th nowrap>
                                                Reference 2
                                            </th>
                                            <th nowrap>
                                                Reference 3
                                            </th>
                                            <th nowrap>
                                                Reference 4
                                            </th>
                                            <th nowrap>
                                                Net Amount
                                            </th>
                                            <th nowrap>
                                                Status
                                            </th>
                                            <th nowrap>
                                                Revenue Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (var item in Model.revenueEntities)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (Model.rolePermissionEntity.ViewBit)
                                                        {
                                                            <img src="~/images/view-icon.png" class="img-responsive" onclick="DLinkRevenue('@item.RevenueId')" style="cursor:pointer;" />
                                                        }
                                                        else
                                                        {
                                                            <a class="mrp_popup disableButton" data-toggle="modal">
                                                                <img src="~/images/view-icon.png" class="img-responsive disableButton" />
                                                            </a>
                                                        }
                                                    </td>
                                                    <td nowrap>
                                                        @item.PeriodName
                                                    </td>
                                                    <td nowrap>
                                                        <a class="img-responsive" onclick="ViewRevenue('@item.RevenueId')" style="cursor:pointer;">
                                                            @item.RevenueNumber
                                                        </a>
                                                    </td>
                                                    <td nowrap>
                                                        @item.FiscalYear
                                                    </td>
                                                    @*<td nowrap>
                                                    @item.RevenueDate
                                                </td>*@
                                                    <td nowrap>
                                                        @item.Journal
                                                    </td>
                                                    <td nowrap>
                                                        @item.SourceName
                                                    </td>
                                                    <td>
                                                        @item.Fund
                                                    </td>
                                                    <td>
                                                        @item.OrgName
                                                    </td>
                                                    <td nowrap>
                                                        @item.FunctionName
                                                    </td>
                                                    <td nowrap>
                                                        @item.FunctionDescription
                                                    </td>
                                                    <td nowrap>
                                                        @item.DepartmentName
                                                    </td>
                                                    <td nowrap>
                                                        @item.DepartmentDescription
                                                    </td>
                                                    <td nowrap>
                                                        @item.ActivityName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ActivityDescription
                                                    </td>
                                                    <td nowrap>
                                                        @item.ObjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ObjectDescription
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectDescription
                                                    </td>
                                                    <td nowrap>
                                                        @item.CFDA
                                                    </td>
                                                    <td nowrap>
                                                        @item.Reference1
                                                    </td>
                                                    <td nowrap>
                                                        @item.Reference2
                                                    </td>
                                                    <td nowrap>
                                                        @item.Reference3
                                                    </td>
                                                    <td nowrap>
                                                        @item.Reference4
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.NetAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.StatusName
                                                    </td>
                                                    <td nowrap>
                                                        @item.RevenueTypeName
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- popup -->
                                <div class="modal fade mrp_modalpopup" id="CostReportInvoiceModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            <!-- /page content -->
            <div id="container" class="mra_pagination">
            </div>
        </div>
    </div>



    <script type="text/javascript">


        function DLinkRevenue(RevenueId) {
            if (window.confirm("Are you sure want to d-link Expense and Revenue?")) {
                var expenseRequest = {
                    expenseEntity:
                    {
                        ExpenseId: document.getElementById("ExpenseId").value,
                        ProjectId: RevenueId
                    },
                };

                $.ajax({
                    url: "/Expense/DLinkRevenue",
                    type: "POST",
                    data: expenseRequest,
                    dataType: 'json',
                    success: function (result) {
                        location.href = "/Expense/ExpenseRevenue/" + document.getElementById("ExpenseId").value;
                    },
                    complete: function () {

                    }
                });
            }
        }

        $(document).ready(function () {
            $('#mra_subli1').addClass('active');
        });

        function CreatePayment(InvoiceId) {
            document.getElementById("hdnExpenseId").value = InvoiceId;
            document.forms[0].action = "CreateInvoicePayment";
            document.forms[0].submit();
        }

        function CreateLinkToRevenue(expenseId) {
            var url = "/Expense/LinkToRevenue/" + expenseId;
            location.href = url;
        }

        function ViewRevenue(paymentId) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Revenue/ViewRevenue/" + paymentId,
                dataType: "html",
                success: function (evt) {
                    $('#CostReportInvoiceModal').html(evt);
                    $('#CostReportInvoiceModal').modal(options);
                    $('#CostReportInvoiceModal').modal('show');
                },
                error: function (req, status, error) {
                    alert(error);
                    alert("Error!Occured");
                }
            });
        }


        function ViewRevenue(revenueId) {
            window.open("/Revenue/RevenueInfo/" + revenueId, '')
        }
    </script>
}