@model DHSEntities.ExpenseResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation :: Manage Exp-Exp Trans Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}
@using (Html.BeginForm("ManageExpExpCompare", "Expense", FormMethod.Post, new { @id = "frmExpenses" }))
{
    <title>@ViewBag.Title</title>
    <input type="hidden" id="hdnExpenseId" name="hdnExpenseId" />
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>View Expense to Expense Transactions Comparison</h2>
                        <form class="mrp_selectdetails form-inline">
                            <div class="row">
                                <div class="form-group col-lg-3 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Fiscal&nbsp;Year:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("FiscalYearId", new SelectList(Model.fiscalYearEntities, "FiscalYearId", "FiscalYear", Model.expenseEntity.FiscalYearId), "", new { @id = "FiscalYearId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Project:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("ProjectId", new SelectList(Model.projectEntities, "ProjectId", "ProjectName", Model.expenseEntity.ProjectId), "", new { @id = "ProjectId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Status:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("StatusId", new SelectList(Model.statusEntities, "StatusId", "StatusName", Model.expenseEntity.StatusId), "", new { @id = "StatusId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Difference:</label>
                                    <div class="form_modal">
                                        <select name="Difference" id="Difference" class="form-control mrp_modalselect">
                                            <option value="">Select</option>
                                            @if (Model.expenseEntity.Difference == 1)
                                            {
                                                <option value="1" selected>Zero</option>
                                            }
                                            else
                                            {
                                                <option value="1">Zero</option>
                                            }
                                            @if (Model.expenseEntity.Difference == 2)
                                            {
                                                <option value="2" selected>Non-Zero</option>
                                            }
                                            else
                                            {
                                                <option value="2">Non-Zero</option>
                                            }                                            
                                        </select>
                                    </div>
                                    <div class="form_modal">
                                        @if (Model.rolePermissionEntity.ViewBit)
                                        {
                                            <img src="~/images/search.png" class="img-responsive" height="40" width="40" onclick="SelectedIndexChanged()" style="cursor:pointer;" alt="Search Expense Information" />
                                        }
                                        else
                                        {
                                            <img src="~/images/search.png" class="disableButton" height="40" width="40" alt="Search Expense Information" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th nowrap>
                                                Status
                                            </th>
                                            <th nowrap>
                                                Exp No
                                            </th>
                                            <th nowrap>
                                                Period
                                            </th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Object Description
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                Project Title
                                            </th>
                                            <th nowrap>
                                                CFDA
                                            </th>
                                            <th nowrap>
                                                Net Amount
                                            </th>
                                            <th nowrap>
                                                Transaction Amount
                                            </th>
                                            <th nowrap style="text-align:left">
                                                Difference
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            decimal Difference = 0;
                                            foreach (var item in Model.pagedExpenseEntities)
                                            {
                                                Difference = (item.NetAmount - item.ReconciledAmount);
                                                <tr>
                                                    <td nowrap>
                                                        @item.StatusName
                                                    </td>
                                                    <td nowrap>
                                                        <a href="Javascript:void()" onclick="ViewTransactionDetails('@item.ExpenseId')"> @item.ExpenseNumber</a>
                                                    </td>
                                                    <td nowrap>
                                                        @item.PeriodName
                                                    </td>
                                                    <td>
                                                        @item.OrgName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ObjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ObjectDescription
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectDescription
                                                    </td>
                                                    <td nowrap>
                                                        @item.CFDA
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.NetAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.ReconciledAmount)
                                                    </td>
                                                    <td nowrap style="text-align:left">
                                                        @string.Format("{0:C}", Difference)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- popup -->
                                <div class="modal fade mrp_modalpopup" id="CostReportInvoiceModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            <!-- /page content -->
            <div id="container" class="mra_pagination">
                <div class="pagination">
                    @Html.PagedListPager(Model.pagedExpenseEntities, page => Url.Action("ManageExpExpCompare", new { page }))
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">

        function ViewTransactionDetails(expenseId) {
            var url = "/Expense/ManageTransactionDetails/" + expenseId;
            //window.open(url, '');
            location.href = url;
        }

        $(document).ready(function () {
            $('#mra_subliEEC').addClass('active');
        });

        function SelectedIndexChanged() {
            if ($("#SearchOn").val() != "" & $("#txtSearch").val() == "") {
                alert("Please enter value to search");
                $("#txtSearch").focus();
            }
            else {
                $('#frmExpenses').submit();
            }
        }

        $("#FiscalYearId").change(function () {
            var x = $("#FiscalYearId").val();
            fire_ajax(x);
        });

        function fire_ajax(s) {
            var projectEntity = {
                FiscalYearId: s
            };
            var projectRequest = {
                projectEntity: projectEntity
            };
            $.ajax({
                url: "/Project/GetProjects",
                type: "POST",
                data: projectRequest,
                dataType: 'json',
                success: function (data) {
                    var s = '<option value="-1">Please Select Project</option>';
                    for (var i = 0; i < data.projectEntities.length; i++) {
                        s += '<option value="' + data.projectEntities[i].ProjectId + '">' + data.projectEntities[i].ProjectName + ' - ' + data.projectEntities[i].ProjectDescription + '</option>';
                    }
                    $("#ProjectId").html(s);
                }

            })
        }
    </script>
}