@model DHSEntities.ExpenseResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application:: Manage Missing Expense Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}
@using (Html.BeginForm("ManageMissingExpenseTransactions", "Expense", FormMethod.Post, new { @id = "frmExpenses" }))
{
    <title>@ViewBag.Title</title>
    <input type="hidden" id="hdnExpenseId" name="hdnExpenseId" />
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>Manage Missing Expense Transactions</h2>
                        <form class="mrp_selectdetails form-inline">
                            <div class="row">
                                <div class="form-group col-lg-1 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Fiscal&nbsp;Year:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("FiscalYearId", new SelectList(Model.fiscalYearEntities, "FiscalYearId", "FiscalYear", Model.transactionDetailEntity.FiscalYearId), "", new { @id = "FiscalYearId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Project:</label>
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.transactionDetailEntity.TransProject, htmlAttributes: new { @id = "TransProject", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-1 col-xs-12 col-sm-6">
                                    <label for="SearchOn">Status:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("StatusId", new SelectList(Model.statusEntities, "StatusId", "StatusName", Model.transactionDetailEntity.StatusId), "", new { @id = "StatusId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-xs-12 col-sm-5">
                                    <label for="SearchOn">Category:</label>
                                    <div class="form_modal">
                                        @Html.DropDownList("CategoryId", new SelectList(Model.fgtCategoryEntities2, "FGTCategoryId", "FGTCategoryName", Model.transactionDetailEntity.FGTCategoryId2), "", new { @id = "CategoryId", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-xs-12 col-sm-5">
                                    <label for="SearchOn">Expense&nbsp;Transaction&nbsp;#:</label>
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.transactionDetailEntity.TransactionNumber, htmlAttributes: new { @id = "TransactionNumber", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-xs-12 col-sm-7">
                                    <label for="SearchOn">Revenue&nbsp;Transaction&nbsp;#:</label>
                                    <div class="form_modal">
                                        @Html.TextBoxFor(m => m.transactionDetailEntity.RevenueTransactionNumber, htmlAttributes: new { @id = "RevenueTransactionNumber", @class = "form-control mrp_modalselect" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-1 col-xs-12 col-sm-7">
                                    <div class="form_modal">
                                        @if (Model.rolePermissionEntity.ViewBit)
                                        {
                                            <img src="~/images/search.png" class="img-responsive" height="40" width="40" onclick="SelectedIndexChanged()" style="cursor:pointer;" alt="Search Missing Expense Transaction Information" title="Search Missing Expense Transaction Information" />
                                        }
                                        else
                                        {
                                            <img src="~/images/search.png" class="disableButton" height="40" width="40" alt="Search Missing Expense Transaction Information" title="Search Missing Expense Transaction Information" />
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-lg-1 col-xs-12 col-sm-7">
                                    <div class="form_modal">
                                        @if (Model.rolePermissionEntity.CreateBit)
                                        {
                                            <img src="~/images/create.png" class="img-responsive" height="40" width="40" onclick="CreateMissingTransaction()" style="cursor:pointer;" alt="Create missing expense transaction  Information" title="Create missing expense transaction  Information" />
                                        }
                                        else
                                        {
                                            <img src="~/images/create.png" style="cursor:pointer;" onclick="JavaScript:alert('You do not have permission to create missing expense transaction. Please contact administrator.')" class="disableButton" height="40" width="40" alt="Create missing expense transaction  Information" title="Create missing expense transaction  Information" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="margin-left:1px; margin-right:1px;">
                                                Action
                                            </th>
                                            <th nowrap>
                                                Fiscal Year
                                            </th>
                                            <th nowrap>
                                                Transaction No
                                            </th>
                                            <th nowrap>
                                                Transaction Date
                                            </th>
                                            <th nowrap>
                                                Transaction Amount
                                            </th>
                                            <th nowrap>
                                                Correct Amount
                                            </th>
                                            <th nowrap>Related Trans</th>
                                            <th nowrap>Other Batch #</th>
                                            <th nowrap>
                                                Org
                                            </th>
                                            <th nowrap>
                                                Object
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                Category 1
                                            </th>
                                            <th nowrap>
                                                Category 2
                                            </th>
                                            <th nowrap>
                                                Status
                                            </th>
                                            <th nowrap>
                                                Vendor Name
                                            </th>
                                            <th nowrap>
                                                Revenue Transaction
                                            </th>
                                            <th nowrap style="text-align:left">
                                                Notes
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            decimal Total = 0;
                                            string RevenueInfo = string.Empty;
                                            foreach (var item in Model.pagedTransactionDetailEntity)
                                            {
                                                Total = Total + item.TransactionAmount;
                                                RevenueInfo = item.RevenueTransactionNumber + " - " + item.RevenueTransactionDate + " - " + String.Format("{0:$#,##0.00}", item.RevenueTransactionAmount) + " - " + item.RevenueProjectName + " - " + item.BatchNumber + " - " + String.Format("{0:$#,##0.00}", item.DrawAmount) + " - " + item.DrawDate;
                                                <tr>
                                                    <td nowrap style="text-align:left;">
                                                        @if (Model.rolePermissionEntity.ViewBit)
                                                        {
                                                            <img src="~/images/view-icon.png" class="img-responsive" style="cursor:pointer;" alt="View Missing Expense Transaction Information" title="View Missing Expense Transaction Information" onclick="ViewMissingExpenseTransaction('@item.TransactionDetailId')" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/images/view-icon.png" title="View Missing Expense Transaction Information" class="img-responsive disableButton" alt="View Missing Expense Transaction Information" />
                                                        }
                                                    </td>
                                                    <td nowrap>
                                                        @item.FiscalYear
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransactionNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransactionDate
                                                    </td>
                                                    <td nowrap>
                                                        @String.Format("{0:$#,##0.00}", item.TransactionAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @String.Format("{0:$#,##0.00}", item.CorrectAmount)
                                                    </td>
                                                    <td nowrap>@item.RelatedTrans</td>
                                                    <td nowrap>@item.OtherBatchNumber</td>
                                                    <td nowrap>
                                                        @item.TransOrg
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransObject
                                                    </td>
                                                    <td nowrap>
                                                        @item.TransProject
                                                    </td>
                                                    <td nowrap>
                                                        @item.FGTCategoryName1
                                                    </td>
                                                    <td nowrap>
                                                        @item.FGTCategoryName2
                                                    </td>
                                                    <td nowrap>
                                                        @item.StatusName
                                                    </td>
                                                    <td nowrap>
                                                        @item.VendorName
                                                    </td>
                                                    @if (item.RevenueTransactionNumber != "")
                                                    {
                                                        <td nowrap>
                                                            @if (item.DocumentFile != "")
                                                            {
                                                                <a href="javascript:void()" onclick="OpenDocument('@item.DocumentFile')" style="cursor:pointer;">@RevenueInfo</a>
                                                            }
                                                            else
                                                            {
                                                                @RevenueInfo
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td nowrap>&nbsp;</td>
                                                    }
                                                    <td style="text-align:left;" nowrap>
                                                        @item.TransactionDescription
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- popup -->
                                <div class="modal fade mrp_modalpopup" id="MissingExpenseTransactionModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            <!-- /page content -->
            <div id="container" class="mra_pagination">
                <div class="pagination">
                    @Html.PagedListPager(Model.pagedTransactionDetailEntity, page => Url.Action("ManageMissingExpenseTransactions", new { page }))
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

        function SelectedIndexChanged() {
            if ($("#SearchOn").val() != "" & $("#txtSearch").val() == "") {
                alert("Please enter value to search");
                $("#txtSearch").focus();
            }
            else {
                $('#frmExpenses').submit();
            }
        }

        function SortOrder(SortOrder) {
            $("#hdnSortOrder").val(SortOrder)
            $('#frmExpenses').submit();
        }

        function Validate() {
            alert("You don't have access to this activity. Please contact your administrator.");
            return false;
        }

        $(document).ready(function () {
            $('#mra_subliMMET').addClass('active');
        });

    function ViewMissingExpenseTransaction(transactionDetailId) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Expense/ViewMissingExpenseTransaction/" + transactionDetailId,
                dataType: "html",
                success: function (evt) {
                    $('#MissingExpenseTransactionModal').html(evt);
                    $('#MissingExpenseTransactionModal').modal(options);
                    $('#MissingExpenseTransactionModal').modal('show');
                },
                error: function (req, status, error) {
                    alert(error);
                    alert("Error!Occured");
                }
            });
        }

        function EditTransaction(expenseId, TransactionDetailId) {
            $('#TransactionDetailModal').modal('hide');
            var url = "/Expense/CreateTransactionDetail/" + expenseId + "?pid=" + TransactionDetailId;
            window.open(url, '');
            //location.href = url;
        }

        function RemoveRevenueTransaction(TransactionDetailId) {
            if (window.confirm("Are you sure want to unlink Revenue Transaction?")) {
                var transactionDetailEntity = {
                    TransactionDetailId: TransactionDetailId,
                    ModifiedBy:@Common.GetSession("UserID"),
                };
                var expenseRequest = {
                    transactionDetailEntity: transactionDetailEntity
                };
                $.ajax({
                    url: "/Expense/RemoveLinkExpRev",
                    type: "POST",
                    data: expenseRequest,
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                })
            }
        }

        function OpenDocument(FileName) {
            window.open("/Documents/Draw/" + FileName);
        }

        $("#FiscalYearId").change(function () {
            var x = $("#FiscalYearId").val();
            fire_ajax(x);
        });

        function fire_ajax(s) {
            var projectEntity = {
                FiscalYearId: s
            };
            var projectRequest = {
                projectEntity: projectEntity
            };
            $.ajax({
                url: "/Project/GetProjects",
                type: "POST",
                data: projectRequest,
                dataType: 'json',
                success: function (data) {
                    var s = '<option value="-1">Please Select Project</option>';
                    for (var i = 0; i < data.projectEntities.length; i++) {
                        s += '<option value="' + data.projectEntities[i].ProjectId + '">' + data.projectEntities[i].ProjectName + ' - ' + data.projectEntities[i].ProjectDescription + '</option>';
                    }
                    $("#ProjectId").html(s);
                }

            })
        }

        function CreateMissingTransaction() {
            location.href ="/Expense/CreateMissingExpenseTransaction"
        }
</script>