@model DHSEntities.FGTCategoryResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation Application :: Manage Federal Grant Template Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}
@using (Html.BeginForm("ManageFGTCategories", "FGTCategory", FormMethod.Post, new { @id = "frmFGTCategories" }))
{
    <title>@ViewBag.Title</title>
    <input type="hidden" id="hdnFGTCategoryId" name="hdnFGTCategoryId" />
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-11">
                    <div class="mrp_content">
                        <h2>View Federal Grant Template Categories</h2>
                        <form class="mrp_selectdetails form-inline">
                        </form>
                    </div>
                </div>
                <div class="col-lg-1">
                    @if (Model.rolePermissionEntity.CreateBit)
                    {
                        <img src="~/images/Create.png" class="img-responsive" height="40" width="40" onclick="CreateCategory()" style="cursor:pointer;" alt="Create FGT Category Information" />
                    }
                    else
                    {
                        <img src="~/images/Create.png" style="cursor:pointer;" onclick="JavaScript:alert('You do not have permission to create fgt category. Please contact administrator.')" class="disableButton" height="40" width="40" alt="Create FGT Category Information" />
                    }
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="margin-left:1px; margin-right:1px;">
                                                Action
                                            </th>
                                            <th nowrap>
                                                Federal Grant Template Category Name
                                            </th>
                                            <th nowrap>
                                                Parent Federal Grant Template Category Name
                                            </th>
                                            <th nowrap>
                                                Federal Grant Template Category Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (var item in Model.pagedFGTCategoryEntities)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (Model.rolePermissionEntity.ViewBit)
                                                        {
                                                            <img src="~/images/view-icon.png" class="img-responsive" onclick="ViewFGTCategory('@item.FGTCategoryId')" style="cursor:pointer;" />
                                                        }
                                                        else
                                                        {
                                                            <a class="mrp_popup disableButton" data-toggle="modal">
                                                                <img src="~/images/view-icon.png" class="img-responsive disableButton" />
                                                            </a>
                                                        }
                                                    </td>
                                                    <td nowrap>
                                                        @item.FGTCategoryName
                                                    </td>
                                                    <td nowrap>
                                                        @item.FGTPatentCategoryName
                                                    </td>
                                                    <td>
                                                        @item.FGTCategoryDescription
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- popup -->
                                <div class="modal fade mrp_modalpopup" id="FGTCategoryModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            <!-- /page content -->
            <div id="container" class="mra_pagination">
                <div class="pagination">
                    @Html.PagedListPager(Model.pagedFGTCategoryEntities, page => Url.Action("ManageFGTCategories", new { page }))
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">

        function ViewFGTCategory(FGTCategoryId) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/FGTCategory/ViewFGTCategory/" + FGTCategoryId,
                dataType: "html",
                success: function (evt) {
                    $('#FGTCategoryModal').html(evt);
                    $('#FGTCategoryModal').modal(options);
                    $('#FGTCategoryModal').modal('show');
                },
                error: function (req, status, error) {
                    alert(error);
                    alert("Error!Occured");
                }
            });
        }

        function EditFGTCategory() {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/FGTCategory/EditFGTCategory",
                dataType: "html",
                success: function (evt) {
                    $('#FGTCategoryModal').html(evt);
                    $('#FGTCategoryModal').modal(options);
                    $('#FGTCategoryModal').modal('show');
                },
                error: function (req, status, error) {
                    alert("Error!Occured");
                }
            });
        }


        function SubmitValue() {

            if (document.getElementById("FGTCategoryName").value == "") {
                alert("Please enter category name.")
                document.getElementById("FGTCategoryName").focus();
                return false;
            }

            var fGTCategoryEntity = {
                FGTCategoryName: document.getElementById("FGTCategoryName").value,
                FGTCategoryId: document.getElementById("FGTCategoryId").value,
                FGTParentCategoryId: document.getElementById("FGTParentCategoryId").value,
                FGTCategoryDescription: document.getElementById("FGTCategoryDescription").value,
                ModifiedBy:@Common.GetSession("UserID"),
            };
            var fGTCategoryRequest = {
                FGTCategoryEntity: fGTCategoryEntity
            };
            $.ajax({
                url: "/FGTCategory/SaveFGTCategory",
                type: "POST",
                data: fGTCategoryRequest,
                dataType: 'json',
                success: function (result) {
                    location.href = "/FGTCategory/ManageFGTCategories";
                },
                complete: function () {

                }
            });
            return true;
        }

        function SelectedIndexChanged() {
            if ($("#SearchOn").val() != "" & $("#txtSearch").val() == "") {
                alert("Please enter value to search");
                $("#txtSearch").focus();
            }
            else {
                $('#frmFGTCategories').submit();
            }
        }

        function SortOrder(SortOrder) {
            $("#hdnSortOrder").val(SortOrder)
            $('#frmFGTCategories').submit();
        }

        function Validate() {
            alert("You don't have access to this activity. Please contact your administrator.");
            return false;
        }

        $(document).ready(function () {
            $('#mra_subli8').addClass('active');
        });

        function CreatePayment(InvoiceId) {
            document.getElementById("hdnFGTCategoryId").value = InvoiceId;
            document.forms[0].action = "CreateInvoicePayment";
            document.forms[0].submit();
        }


        function OpenFGTCategoryDocuments(FGTCategoryId) {
            var url = "/FGTCategory/FGTCategoryDocuments/" + FGTCategoryId;
            location.href = url;
        }

        function CreateCategory() {
            location.href = "/FGTCategory/CreateFGTCategory";
        }
    </script>
}