@model DHSEntities.RevenueResponse
@{
    ViewBag.Title = "View Revenues";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="RevenueModalLabel">
                View Revenue Information
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="mrp_modaledit"> <strong><a href="Javascript:void()" onclick="EditRevenue()" title="Edit"><i class="fa fa-pencil" aria-hidden="true" onclick="EditRevenue()"></i></a></strong></span>
        </div>
        <div class="modal-body">
            <div class="mrp_modalcontent">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Period</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.PeriodName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Date</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.RevenueDate, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Number</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.RevenueNumber, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Source</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.SourceName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Journal</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.JournalName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Function </label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.FunctionName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Department</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.DepartmentName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Activity</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.ActivityName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Org</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.OrgName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Object</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.ObjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Fund</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.Fund, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Project</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.ProjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Reference&nbsp;1</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.Reference1, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Reference&nbsp;2</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.Reference2, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Reference&nbsp;3</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.Reference3, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Reference&nbsp;4</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.Reference4, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Net&nbsp;Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@String.Format("{0:$#,##0.00}", Model.revenueEntity.NetAmount)" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Status</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueEntity.StatusName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label><span class="red">Notes:</span></label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <textarea id="TransactionDescription" name="TransactionDescription" disabled="disabled" style="margin: 0px; width: 500px; height: 40px;">@Model.revenueEntity.Notes</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
