@model DHSEntities.RevenueResponse
@{
    ViewBag.Title = "View Transaction Details";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="RevenueModalLabel">
                View Transaction Detail Information
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>@if (Model.rolePermissionEntity.EditBit)
            {

                <span class="mrp_modaledit"> <strong><a href="Javascript:void()" onclick="EditRevenueTransaction('@Model.revenueTransactionEntity.RevenueTransactionId')" title="Edit"><i class="fa fa-pencil" aria-hidden="true" onclick="EditRevenueTransaction('@Model.revenueTransactionEntity.RevenueTransactionId')"></i></a></strong></span>}
        </div>
        <div class="modal-body">
            <div class="mrp_modalcontent">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Fiscal&nbsp;Year</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.FiscalYear, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Transaction&nbsp;Number</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.RevenueTransactionNumber, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Transaction&nbsp;Date</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.RevenueTransactionDate, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Transaction&nbsp;Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@String.Format("{0:$#,##0.00}", Model.revenueTransactionEntity.RevenueTransactionAmount)" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Org</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.OrgName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Object</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.ObjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Project</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.ProjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Revenue Type</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@Model.revenueTransactionEntity.RevenueTypeName" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Deposit</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@Model.revenueTransactionEntity.DrawNumber" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Status</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@Model.revenueTransactionEntity.StatusName" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Related&nbsp;Trans</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <input type="text" disabled="disabled" value="@Model.revenueTransactionEntity.RelatedTrans" class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                                <div class="form_modal">
                                    <label>Notes</label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                <div class="form_modal">
                                    <textarea id="RevenueTranscationDescription" name="RevenueTranscationDescription" disabled="disabled" style="margin: 0px; width:100%; height: 120px;">@Model.revenueTransactionEntity.RevenueTranscationDescription</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>