@model DHSEntities.RevenueResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation :: Create Revenue Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments");
}

@using (Html.BeginForm("CreateRevenueTransaction", "Revenue", FormMethod.Post, new { @id = "frmExpense" }))
{

    <title>@ViewBag.Title</title>
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid">
            <!-- top tiles -->
            <div class="mrp_content">
                <h2>Revenue Transaction Information</h2>
                <input type="hidden" id="RevenueId" name="RevenueId" value="@Model.revenueTransactionEntity.RevenueId" />
                <div class="row mra_createcost_report_payment">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Revenue Transaction Date</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    <input type="date" value="@Model.revenueTransactionEntity.RevenueTransactionDate" id="RevenueTransactionDate" , class="form-control mrp_modalselect" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Revenue Transaction Amount</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.RevenueTransactionAmount, htmlAttributes: new { @id = "RevenueTransactionAmount", Value = String.Format("{0:$#,##0.00}", Model.revenueTransactionEntity.RevenueTransactionAmount), @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Org</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.OrgName, htmlAttributes: new { @id = "OrgName", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Object</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.ObjectName, htmlAttributes: new { @id = "ObjectName", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Project</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.TextBoxFor(m => m.revenueTransactionEntity.ProjectName, htmlAttributes: new { @id = "ProjectName", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                <div class="form_modal">
                                    <label>Revenue&nbsp;Type</label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                                <div class="form_modal">
                                    @Html.DropDownList("RevenueTypeId", new SelectList(Model.revenueTypeEntities, "RevenueTypeId", "RevenueTypeName", Model.revenueTransactionEntity.RevenueTypeId), "", new { @id = "RevenueTypeId", @class = "form-control mrp_modalselect" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-2 col-xs-12 col-sm-4 col-md-2">
                        <div class="form_modal">
                            <label>Notes</label>
                        </div>
                    </div>
                    <div class="col-lg-10 col-xs-12 col-sm-8 col-md-10">
                        <div class="form_modal">
                            <textarea id="RevenueTranscationDescription" name="RevenueTranscationDescription" style="margin: 0px; width: 100%; height: 120px;">@Model.revenueTransactionEntity.RevenueTranscationDescription</textarea>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <input type="submit" id="btnSubmit" class="btn btn-primary btn-updated" onclick="return SubmitValue()" value="Save Changes" />

                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal" onclick="OpenPreviosPage()">Cancel</button>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">
        function SubmitValue() {

            if (document.getElementById("RevenueTransactionDate").value == "") {
                alert("Please enter transaction date.")
                document.getElementById("RevenueTransactionDate").focus();
                return false;
            }
            if (document.getElementById("RevenueTypeId").value == "") {
                alert("Please select revenue type.")
                document.getElementById("RevenueTypeId").focus();
                return false;
            }
            var revenueTransactionEntity = {
                RevenueTransactionId:0,
                RevenueTransactionDate: document.getElementById("RevenueTransactionDate").value,
                RevenueId: document.getElementById("RevenueId").value,
                RevenueTypeId: document.getElementById("RevenueTypeId").value,
                OrgName: document.getElementById("OrgName").value,
                RevenueTranscationDescription: document.getElementById("RevenueTranscationDescription").value,
                RevenueTransactionAmount: parseFloat((document.getElementById("RevenueTransactionAmount").value).replace("$", "").replace(",", "")).toFixed(2),
                ObjectName: document.getElementById("ObjectName").value,
                ProjectName: document.getElementById("ProjectName").value,
            };
            var revenueRequest = {
                RevenueTransactionEntity: revenueTransactionEntity
            };
            $.ajax({
                url: "/Revenue/SaveRevenueTransaction",
                type: "POST",
                data: revenueRequest,
                dataType: 'json',
                success: function (result) {
                    location.href = "/Revenue/RevenueInfo/" + document.getElementById("RevenueId").value;
                },
                complete: function () {

                }
            });
            return true;
        }

        $(document).ready(function () {
            $('#mra_subli2').addClass('active');
        });

        function OpenPreviosPage() {
            location.href = "/Revenue/RevenueInfo/" + document.getElementById("RevenueId").value;
        }
    </script>
}