@model DHSEntities.RevenueResponse
@using PagedList.Mvc
@using DHS.Reconcilation.Models

@{
    ViewBag.Title = "DHS Reconcilation :: Draws to Link Revenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<script src="~/js/jquery.min.js"></script>

@section LeftMenuSection
{
    @Html.Partial("_menuCRPayments")
}

@using (Html.BeginForm("DrawRevenue", "Revenue", FormMethod.Post, new { @id = "frmDrawRevenue" }))
{
    @Html.AntiForgeryToken()
    <div class="tab-pane active" id="dashboard">
        <div class="container-fluid mra_settlement_view">
            <!-- top tiles -->
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_modalcontent">
                        <h2>View Revenue Information</h2>
                        <form class="mrp_selectdetails form-inline"></form>
                    </div>
                </div>
            </div>


            <input type="hidden" id="RevenueId" value='@Model.revenueEntity.RevenueId' name="RevenueId" />

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Period</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.PeriodName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Fiscal&nbsp;Year</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.FiscalYear, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Revenue&nbsp;No</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.RevenueNumber, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Source</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.SourceName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Journal</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.Journal, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Function </label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.FunctionName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Department</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.DepartmentName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Activity</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.ActivityName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Org</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.OrgName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Object</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.ObjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Fund</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.Fund, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Project</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.ProjectName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;1</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.Reference1, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;2</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.Reference2, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;3</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.Reference3, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Reference&nbsp;4</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.Reference4, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Net&nbsp;Amount</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                <input type="text" disabled="disabled" value="@String.Format("{0:$#,##0.00}", Model.revenueEntity.NetAmount)" class="form-control mrp_modalselect" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Status</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.StatusName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Revenue&nbsp;Type</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.RevenueTypeName, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
                            <div class="form_modal">
                                <label>Assigned&nbsp;To</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                            <div class="form_modal">
                                @Html.TextBoxFor(m => m.revenueEntity.AssignedToUser, htmlAttributes: new { @class = "form-control mrp_modalselect", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <label>
                        Notes:
                    </label>
                </div>
                <div class="col-log-11">
                    <label>@Model.revenueEntity.Notes</label>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>Draw Information Linked to Above Revenue</h2>
                        <form class="mrp_selectdetails form-inline">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="margin-left:1px; margin-right:1px;" nowrap>
                                                D-Link
                                            </th>
                                            <th nowrap>
                                                Fiscal Year
                                            </th>
                                            <th nowrap>
                                                Draw No
                                            </th>
                                            <th nowrap>
                                                Drawn Amount
                                            </th>
                                            <th nowrap>
                                                Drawn Date
                                            </th>
                                            <th nowrap>
                                                Date Posted
                                            </th>
                                            <th nowrap>
                                                Batch Number
                                            </th>
                                            <th nowrap>
                                                Cash Receipt
                                            </th>
                                            <th nowrap>
                                                Revenue Amount
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                Status
                                            </th>
                                            <th nowrap>
                                                Assigned To
                                            </th>
                                            <th nowrap style="text-align:left;">
                                                Notes
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            decimal DrawAmountTotal = 0;
                                            decimal RevenueAmountTotal = 0;
                                            decimal DifferenceTotal = 0;
                                            foreach (var item in Model.drawEntities)
                                            {
                                                DrawAmountTotal = DrawAmountTotal + item.DrawDownAmount;
                                                RevenueAmountTotal = RevenueAmountTotal + item.RevenueAmount;
                                                <tr>
                                                    <td>
                                                        @if (Model.rolePermissionEntity.ViewBit)
                                                        {
                                                            <img src="~/images/view-icon.png" class="img-responsive" onclick="DLinkDraw('@item.DrawId')" style="cursor:pointer;" />
                                                        }
                                                        else
                                                        {
                                                            <a class="mrp_popup disableButton" data-toggle="modal">
                                                                <img src="~/images/view-icon.png" class="img-responsive disableButton" />
                                                            </a>
                                                        }
                                                    </td>
                                                    <td nowrap>
                                                        @item.FiscalYear
                                                    </td>
                                                    <td nowrap>
                                                        @item.DrawNumber
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.DrawDownAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.DrawDownDate
                                                    </td>
                                                    <td nowrap>
                                                        @item.DatePosted
                                                    </td>
                                                    <td nowrap>
                                                        @item.BatchNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.CashReceipt
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.RevenueAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.StatusName
                                                    </td>
                                                    <td nowrap>
                                                        @item.AssignedToUser
                                                    </td>
                                                    <td nowrap style="text-align:left;">
                                                        @item.DrawDescription
                                                    </td>
                                                </tr>
                                            }                                            
                                    <tr>
                                        <td colspan="3" style="text-align:right;"><b>Totals</b></td>
                                        <td>@string.Format("{0:C}", DrawAmountTotal)</td>
                                        <td colspan="4">&nbsp;</td>
                                        <td>@string.Format("{0:C}", RevenueAmountTotal)</td>
                                        <td colspan="4" style="text-align:left"><b>Difference Amount:&nbsp;</b>@string.Format("{0:C}", (RevenueAmountTotal - Model.revenueEntity.NetAmount))</td>
                                    </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="modal fade mrp_modalpopup" id="RevenueModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>


            <div class="row ">
                <div class="col-lg-12">
                    <div class="mrp_content">
                        <h2>Select Additional Draws If Needed</h2>
                        <form class="mrp_selectdetails form-inline">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrp_table-row">
                <div class="col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <div class="mrp_contentbody mrp_contenttable">
                            <div class="mrp_table">
                                <table class="table table-bordered table-striped" cellpadding="2" cellspacing="5" border="0">
                                    <thead>
                                        <tr>
                                            <td align="right">
                                                @if (Model.rolePermissionEntity.ViewBit)
                                                {
                                                    <input type="button" class="btn btn-primary btn-updated" onclick="LinkToRevenue()" value=" Link " />
                                                }
                                                else
                                                {
                                                    <input type="button" value=" Search " class="disableButton" disabled="disabled" />
                                                }
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="margin-left:1px; margin-right:1px;" nowrap>
                                                Link
                                            </th>
                                            <th nowrap>
                                                Fiscal Year
                                            </th>
                                            <th nowrap>
                                                Draw No
                                            </th>
                                            <th nowrap>
                                                Drawn Amount
                                            </th>
                                            <th nowrap>
                                                Drawn Date
                                            </th>
                                            <th nowrap>
                                                Date Posted
                                            </th>
                                            <th nowrap>
                                                Batch Number
                                            </th>
                                            <th nowrap>
                                                Cash Receipt
                                            </th>
                                            <th nowrap>
                                                Amount Available
                                            </th>
                                            <th nowrap>
                                                Revenue Amount
                                            </th>
                                            <th nowrap>
                                                Project
                                            </th>
                                            <th nowrap>
                                                Status
                                            </th>
                                            <th nowrap>
                                                Assigned To
                                            </th>
                                            <th nowrap style="text-align:left;">
                                                Notes
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model.drawRevenueEntities)
                                            {
                                                var itemId = "RevenuAmount" + @item.DrawId;
                                                var itemhdnId = "hdnRevenuAmount" + @item.DrawId;
                                                var AvailableAmount = (item.DrawDownAmount + item.RevenueAmount);
                                                <tr>
                                                    <td>
                                                        <input type="radio" id="DrawId" name="Draw" value="@item.DrawId" />
                                                    </td>
                                                    <td nowrap>
                                                        @item.FiscalYear
                                                    </td>
                                                    <td nowrap>
                                                        @item.DrawNumber
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", item.DrawDownAmount)
                                                    </td>
                                                    <td nowrap>
                                                        @item.DrawDownDate
                                                    </td>
                                                    <td nowrap>
                                                        @item.DatePosted
                                                    </td>
                                                    <td nowrap>
                                                        @item.BatchNumber
                                                    </td>
                                                    <td nowrap>
                                                        @item.CashReceipt
                                                    </td>
                                                    <td nowrap>
                                                        @string.Format("{0:C}", AvailableAmount)
                                                        <input type="hidden" id="@itemhdnId" name="@itemhdnId" value="@AvailableAmount" />
                                                    </td>
                                                    <td>
                                                        <input type="text" id="@itemId" name="@itemId" />
                                                    </td>
                                                    <td nowrap>
                                                        @item.ProjectName
                                                    </td>
                                                    <td nowrap>
                                                        @item.StatusName
                                                    </td>
                                                    <td nowrap>
                                                        @item.AssignedToUser
                                                    </td>
                                                    <td nowrap style="text-align:left;">
                                                        @item.DrawDescription
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="modal fade mrp_modalpopup" id="RevenueModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /top tiles -->
                </div>
            </div>
            <!-- /top tiles -->
            <!--</div>
    </div>-->

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mra_subli3').addClass('active');
        });

        function DLinkDraw(DrawId) {
            if (window.confirm("Are you sure want to d-link Revenue and Draw?")) {
                var revenueRequest = {
                    revenueEntity:
                    {
                        RevenueId: document.getElementById("RevenueId").value,
                        DrawId: DrawId,
                        NetAmount: 0
                    },
                };

                $.ajax({
                    url: "/Revenue/SaveLinkToDraw",
                    type: "POST",
                    data: revenueRequest,
                    dataType: 'json',
                    success: function (result) {
                        location.href = "/Revenue/DrawRevenue/" + document.getElementById("RevenueId").value;
                    },
                    complete: function () {

                    }
                });
            }
        }

        function LinkToRevenue() {
            var getSelectedValue = document.querySelector(
                'input[name="Draw"]:checked');

            if (getSelectedValue != null) {
                var amount = document.getElementById("hdnRevenuAmount" + getSelectedValue.value).value;
                if (amount == 0) {
                    alert("Please select the other draw as this draw does not sufficient drawn amount");
                    return false;
                }
                else {
                    var enteramount = document.getElementById("RevenuAmount" + getSelectedValue.value).value;
                    if (enteramount == "") {
                        alert("Please enter revenue amount.")
                        document.getElementById("RevenuAmount" + getSelectedValue.value).focus();
                        return false;
                    }
                    if ((parseFloat(enteramount).toFixed(2) - parseFloat(amount).toFixed(2)) > 0) {
                        alert("Please enter the amount less than the available amount");
                        document.getElementById("RevenuAmount" + getSelectedValue.value).focus();
                        return false;
                    }
                    else {
                        enteramount = -enteramount;
                        var revenueRequest = {
                            revenueEntity:
                            {
                                RevenueId: document.getElementById("RevenueId").value,
                                DrawId: getSelectedValue.value,
                                NetAmount: enteramount
                            },
                        };

                        $.ajax({
                            url: "/Revenue/SaveLinkToDraw",
                            type: "POST",
                            data: revenueRequest,
                            dataType: 'json',
                            success: function (result) {
                                location.href = "/Revenue/CreateRevenueTransaction/" + document.getElementById("RevenueId").value;
                            },
                            complete: function () {

                            }
                        });
                    }                    
                }
            }
            else {
                alert("Please select draw record to link.")
            }
        }

        function ViewDraw(drawId) {
            window.open('/Draw/DrawInfo/'+drawId,'')
        }
        
    </script>
}
