<div class="menu_section">
    <ul class="nav side-menu">
        <li>
            <a>
                <img src="~/images/report-payment.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Rules</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>@Html.ActionLink("Rules List", "Rules", "Rule")</li>
            </ul>
        </li>
        <li>
            <a>
                <img src="~/images/invoice.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Users</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li><a href="#">@Html.ActionLink("Users List", "Users", "User")</a></li>
            </ul>
        </li>
        <li>
            <a>
                <img src="~/images/settlement-payment.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Roles </span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li><a href="#">@Html.ActionLink("Roles List", "Roles", "Role")</a></li>
            </ul>
        </li>
        <li>
            <a>
                <img src="~/images/audit-report.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Reporting Facilities</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li><a href="#">@Html.ActionLink("Reporting Facility List", "ReportingFacilities", "ReportingFaciltiy")</a></li>
            </ul>
        </li>
        <li>
            <a>
                <img src="~/images/audit-report.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Invoice Types</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li><a href="#">@Html.ActionLink("Invoice Types List", "InvoiceTypes", "InvoiceType")</a></li>
            </ul>
        </li>
        <li>
            <a>
                <img src="~/images/audit-report.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Fiscal Years</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li><a href="#">@Html.ActionLink("Fiscal Year List", "FiscalYears", "FiscalYear")</a></li>
            </ul>
        </li>
        <li>
            <a>
                <img src="~/images/audit-report.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Fiscal Periods</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li><a href="#">@Html.ActionLink("Fiscal Period List", "FiscalPeriods", "FiscalPeriod")</a></li>
            </ul>
        </li>
        <li>
            <a>
                <img src="~/images/audit-report.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Monthly Match</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li><a href="#">@Html.ActionLink("Monthly Match List", "MonthlyMatches", "MonthlyMatch")</a></li>
            </ul>
        </li>
        <li>
            <a>
                <img src="~/images/audit-report.png" class="img-responsive mrp_report_img" />
                <span class="hide_text">Medicaid Charges</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li><a href="#">@Html.ActionLink("Medicaid Charge List", "MedicaidCharges", "MedicaidCharges")</a></li>
            </ul>
        </li>
    </ul>
</div>
