@using DHS.Reconcilation.Models;
<span class="leftmenu_icon" id="menu-toggle">
    <i class="fa fa-caret-left leftmenu_sbl" aria-hidden="true"></i>
</span>
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="leftmenulist">
        <ul class="mtree transit sidebar-nav nav nav-tabs has-submenu mra_ullist" id="mra_menubar">

            @if (Common.PageHasPermission("Expesnses"))
            {
                <li>
                    <a href="#">EXPENSES</a>
                    <ul>
                        <li id="mra_subli1">@Html.ActionLink("Expenses", "ManageExpenses", "Expense")</li>
                        <li id="mra_subliMET">@Html.ActionLink("Expense Transactions", "ManageExpenseTransactions", "Expense")</li>
                    </ul>
                </li>
            }
            @if (Common.PageHasPermission("Revenues"))
            {
                <li>
                    <a href="#">REVENUES</a>
                    <ul>
                        <li id="mra_subli3">@Html.ActionLink("Revenues", "ManageRevenues", "Revenue")</li>
                        <li id="mra_subliMRT">@Html.ActionLink("Revenue Transactions", "ManageRevenueTransactions", "Revenue")</li>
                    </ul>
                </li>
            }

            @if (Common.PageHasPermission("Draws"))
            {

                <li>
                    <a href="#">DRAWS</a>
                    <ul>
                        <li id="mra_subli5">@Html.ActionLink("Draws", "ManageDraws", "Draw")</li>
                        <li id="mra_subli6">@Html.ActionLink("Create Draw", "CreateDraw", "Draw")</li>
                    </ul>
                </li>
            }

            @if (Common.PageHasPermission("FGTCategories"))
            {
                <li>
                    <a href="#">CATEGORIES</a>
                    <ul>
                        <li id="mra_subli8">@Html.ActionLink("FGT Categories", "ManageFGTCategories", "FGTCategory")</li>
                        <li id="mra_subli9">@Html.ActionLink("Create FGT Category", "CreateFGTCategory", "FGTCategory")</li>
                    </ul>
                </li>
            }
            @if (Common.PageHasPermission("Journals"))
            {

                <li>
                    <a href="#">JOURNALS</a>
                    <ul>
                        <li id="mra_subli7">@Html.ActionLink("Journals", "ManageJournals", "Journal")</li>
                        @*<li id="mra_subli8">@Html.ActionLink("Create Journal", "CreateJournal", "Journal")</li>*@
                    </ul>
                </li>
            }
            @if (Common.PageHasPermission("Reports"))
            {
                <li>
                    <a href="#">REPORTS</a>
                    <ul>
                        <li id="mra_subliRe">@Html.ActionLink("Manage Reports", "ManageReports", new { controller = "Report" })</li>
                    </ul>
                </li>
            }

            @if (Common.PageHasPermission("Import"))
            {
                <li>
                    <a href="#">IMPORT</a>
                    <ul>
                        <li id="mra_subli10">@Html.ActionLink("Import Expense", "ImportExpense", "Tools")</li>
                        <li id="mra_subli11">@Html.ActionLink("Import Revenue", "ImportRevenue", "Tools")</li>
                        <li id="mra_subli12">@Html.ActionLink("Import Expense Trans", "ImportExpenseTransaction", "Tools")</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission("RevenueType"))
            {
                <li>
                    <a href="#">REVENUE TYPES</a>
                    <ul>
                        <li id="mra_subliRT">@Html.ActionLink("Revenue Types", "ManageRevenueTypes", "RevenueType")</li>
                        <li id="mra_subliRTC">@Html.ActionLink("Create Revenue Type", "CreateRevenueType", "RevenueType")</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission("Project"))
            {
                <li>
                    <a href="#">PROJECT</a>
                    <ul>
                        <li id="mra_subliPR">@Html.ActionLink("Manage Projects", "ManageProjects", "Project")</li>
                        <li id="mra_subliPRS">@Html.ActionLink("Project Summary", "ManageProjectSummary", "Project")</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission("Vendor"))
            {
                <li>
                    <a href="#">VENDORS</a>
                    <ul>
                        <li id="mra_subliVen">@Html.ActionLink("Vendor List", "ManageVendors", "Vendor")</li>
                        <li id="mra_subliVenC">@Html.ActionLink("Create Vendor", "CreateVendor", "Vendor")</li>
                    </ul>
                </li>
            }

        </ul>
    </div>
</div>