@using DHS.Reconcilation.Models;
<span class="leftmenu_icon" id="menu-toggle">
    <i class="fa fa-caret-left leftmenu_sbl" aria-hidden="true"></i>
</span>
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="leftmenulist">
        <ul class="mtree transit sidebar-nav nav nav-tabs has-submenu mra_ullist" id="mra_menubar">

            @if (Common.PageHasPermission(1))
            {
                <li>
                    <a href="#">EXPENSES</a>
                    <ul>
                        <li id="mra_subli1">@Html.ActionLink("Expenses", "ManageExpenses", "Expense")</li>
                        <li id="mra_subliMET">@Html.ActionLink("Expense Trans", "ManageExpenseTransactions", "Expense")</li>
                        <li id="mra_subliMMET">@Html.ActionLink("Missed Expense Trans", "ManageMissingExpenseTransactions", "Expense")</li>
                        <li id="mra_subliEEC">@Html.ActionLink("Exp-Exp Trans Compare", "ManageExpExpCompare", "Expense")</li>
                        <li id="mra_subliPYET">@Html.ActionLink("Prior Year Expense Transactions", "ManagePriorYearExpenseTransactions", "Expense")</li>
                    </ul>
                </li>
            }
            @if (Common.PageHasPermission(2))
            {
                <li>
                    <a href="#">REVENUES</a>
                    <ul>
                        <li id="mra_subli3">@Html.ActionLink("Revenues", "ManageRevenues", "Revenue")</li>
                        <li id="mra_subliMRT">@Html.ActionLink("Revenue Trans", "ManageRevenueTransactions", "Revenue")</li>
                        <li id="mra_subliMMRT">@Html.ActionLink("Missed Revenue Trans", "ManageMissingRevenueTransactions", "Revenue")</li>
                        <li id="mra_subliMR">@Html.ActionLink("Manage Receivables", "ManageReceivables", "Revenue")</li>
                        <li id="mra_subliMREC">@Html.ActionLink("Rev Deposits - Expenses Compare", "ManageRevenueExpenseCompare", "Revenue")</li>
                    </ul>
                </li>
            }

            @if (Common.PageHasPermission(4))
            {

                <li>
                    <a href="#">DRAWS</a>
                    <ul>
                        <li id="mra_subli5">@Html.ActionLink("Draws", "ManageDraws", "Draw")</li>
                    </ul>
                </li>
            }
            @if (Common.PageHasPermission(10))
            {
                <li>
                    <a href="#">REPORTS</a>
                    <ul>
                        <li id="mra_subliRe">@Html.ActionLink("Print Reports", "ManageReports", new { controller = "Report" })</li>
                        <li id="mra_subliGRe">@Html.ActionLink("Grant Report", "ManageGrantReport", new { controller = "Report" })</li>
                        <li id="mra_subliPRR">@Html.ActionLink("Project Receivables", "ManageProjectReceivableReport", new { controller = "Report" })</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission(11))
            {
                <li>
                    <a href="#">PROJECT</a>
                    <ul>
                        <li id="mra_subliPR">@Html.ActionLink("Manage Projects", "ManageProjects", "Project")</li>
                        <li id="mra_subliPRS">@Html.ActionLink("Project Summary", "ManageProjectSummary", "Project")</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission(12))
            {
                <li>
                    <a href="#">Payroll</a>
                    <ul>
                        <li id="mra_subliMPA">@Html.ActionLink("View Payroll", "ManagePayrollProject", "Payroll")</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission(6))
            {
                <li>
                    <a href="#">CATEGORIES</a>
                    <ul>
                        <li id="mra_subli8">@Html.ActionLink("FGT Categories", "ManageFGTCategories", "FGTCategory")</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission(5))
            {

                <li>
                    <a href="#">JOURNALS</a>
                    <ul>
                        <li id="mra_subli7">@Html.ActionLink("Journals", "ManageJournals", "Journal")</li>
                    </ul>
                </li>
            }


            @if (Common.AdminPageHasPermission(7))
            {
                <li>
                    <a href="#">IMPORT</a>
                    <ul>
                        <li id="mra_subli10">@Html.ActionLink("Import Expense", "ImportExpense", "Tools")</li>
                        <li id="mra_subli11">@Html.ActionLink("Import Revenue", "ImportRevenue", "Tools")</li>
                        <li id="mra_subli12">@Html.ActionLink("Import Expense Trans", "ImportExpenseTransaction", "Tools")</li>
                        <li id="mra_subli12">@Html.ActionLink("Import Draw Revenue Trans", "ImportDrawRevenueTransaction", "Tools")</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission(8))
            {
                <li>
                    <a href="#">REVENUE TYPES</a>
                    <ul>
                        <li id="mra_subliRT">@Html.ActionLink("Revenue Types", "ManageRevenueTypes", "RevenueType")</li>
                    </ul>
                </li>
            }

            @if (Common.AdminPageHasPermission(9))
            {
                <li>
                    <a href="#">VENDORS</a>
                    <ul>
                        <li id="mra_subliVen">@Html.ActionLink("Vendor List", "ManageVendors", "Vendor")</li>
                    </ul>
                </li>
            }

            @if (Common.AdminPageHasPermission(13))
            {
                <li>
                    <a href="#">FISCAL YEAR</a>
                    <ul>
                        <li id="mra_subliFY">@Html.ActionLink("Fiscal Years", "ManageFiscalYears", "FiscalYear")</li>
                    </ul>
                </li>
            }

            @if (Common.AdminPageHasPermission(14))
            {
                <li>
                    <a href="#">STATUS</a>
                    <ul>
                        <li id="mra_subliS">@Html.ActionLink("Statuses", "ManageStatus", "Status")</li>
                    </ul>
                </li>
            }

            @if (Common.AdminPageHasPermission(16))
            {
                <li>
                    <a href="#">PERMISSION</a>
                    <ul>
                        <li id="mra_subliP">@Html.ActionLink("Permissions", "ManagePermission", "Role")</li>
                    </ul>
                </li>
            }
            @if (Common.AdminPageHasPermission(15))
            {
                <li>
                    <a href="#">USER</a>
                    <ul>
                        <li id="mra_subliMU">@Html.ActionLink("Manage User", "Users", "User")</li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>